workflows.json
[{"createdAt":"2025-05-27T06:38:11.078Z","updatedAt":"2025-05-27T07:45:01.000Z","id":"rYCmJfHfhIMZ2b0o","name":"My workflow","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"webhook","responseMode":"lastNode","responseData":"={{ { success: true } }}","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-280,-80],"id":"6dadd014-fdc7-4b12-969b-f323a52d9d77","webhookId":"93252b3a-328e-430d-a10c-55dc1f1c99e6"},{"parameters":{"batchSize":1,"options":{}},"name":"SplitInBatches","type":"n8n-nodes-base.splitInBatches","typeVersion":1,"position":[-80,-80],"id":"36f7e5ba-9c95-4ae6-92cd-e37d3c3005b0"},{"parameters":{"requestMethod":"POST","url":"https://api.stability.ai/v2beta/stable-image/generate/core","options":{"bodyContentType":"multipart-form-data"},"bodyParametersUi":{"parameter":[{"name":"prompt","value":"A premium water purifier in a modern kitchen, 4K, photorealistic lighting"},{"name":"negative_prompt","value":"low quality, blurry, distorted"},{"name":"mode","value":"text-to-image"},{"name":"steps","value":"30"},{"name":"width","value":"512"},{"name":"height","value":"640"},{"name":"output_format","value":"png"},{"name":"style_preset","value":"photographic"}]},"headerParametersUi":{"parameter":[{"name":"Authorization","value":"sk-Oo2KhClYOySLR1jxcQsqEXeOP7Lh4F2HV0OpXTAXbrbISX6X"}]}},"name":"Generate Image","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[120,80],"id":"c033bd6d-df57-4d20-89a6-1ee35877a2d7"},{"parameters":{"functionCode":"return items.map((item, index) => {\n  const dt = new Date();\n  dt.setDate(dt.getDate() + index);\n  item.json.scheduledDate = dt.toISOString();\n  const captionsText = item.json.choices[0].message.content;\n  const parts = captionsText.split('\\n').filter(Boolean);\n  item.json.captions = {\n    instagram: parts.find(p => p.toLowerCase().startsWith('• instagram'))?.replace(/^• instagram:\\s*/i, '').trim(),\n    linkedin: parts.find(p => p.toLowerCase().startsWith('• linkedin'))?.replace(/^• linkedin:\\s*/i, '').trim(),\n    facebook: parts.find(p => p.toLowerCase().startsWith('• facebook'))?.replace(/^• facebook:\\s*/i, '').trim()\n  };\n  item.json.imageUrl = item.json.response?.artifacts?.[0]?.url || item.json.url;\n  return item;\n});"},"name":"Assign Scheduled Date","type":"n8n-nodes-base.function","typeVersion":1,"position":[320,-80],"id":"5066e676-c1ec-4407-8786-38bcb7d036cb"},{"parameters":{},"name":"Wait for Post Date","type":"n8n-nodes-base.wait","typeVersion":1,"position":[520,-80],"id":"66632055-73d1-41e5-9f84-f126c1b24fe7","webhookId":"6592eee1-4dad-4912-8a43-705c549c5afe"},{"parameters":{"url":"=https://graph.facebook.com/v17.0/{{instagramUserId}}/media","jsonParameters":true,"options":{}},"name":"Post to Instagram","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[720,-160],"id":"8465c2a3-beb9-49ab-b1f2-9cbb7f827f93"},{"parameters":{"url":"=https://graph.facebook.com/v17.0/{{instagramUserId}}/media_publish","jsonParameters":true,"options":{}},"name":"Publish Instagram","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[920,-160],"id":"781e8a03-ab42-4d63-8252-2f46d278aa90"},{"parameters":{"url":"https://graph.facebook.com/v17.0/{{facebookPageId}}/photos","jsonParameters":true,"options":{}},"name":"Post to Facebook","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[720,0],"id":"b50b08f9-8ae1-4404-9c64-7c4c5b4554e1"},{"parameters":{"url":"https://api.linkedin.com/v2/ugcPosts","jsonParameters":true,"options":{}},"name":"Post to LinkedIn","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[720,160],"id":"1c7c0c09-73f2-4227-8f9d-b2f90497780b"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[920,0],"id":"082e3bc3-61fe-419a-b845-72ce028baf80","name":"Aggregate"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960.8333333333335,0],"id":"50b89976-1d16-4ddd-876b-e9feb498096e","name":"HTTP Request"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"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"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"model\": \"gpt-3.5-turbo\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a professional social media content writer for a water purifier brand.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Generate 1 post each for LinkedIn, Instagram, and Facebook about the importance of drinking purified water daily. Keep the tone professional for LinkedIn, trendy and concise for Instagram, and informative but friendly for Facebook. End Instagram and Facebook posts with a call-to-action hashtag like #DrinkPure or #HealthyWater.\"\n    }\n  ],\n  \"temperature\": 0.7\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1060,-305.27777777777777],"id":"425d9c6b-8b2e-447b-8141-fd94d075063d","name":"HTTP Request1"},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 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"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"model\": \"gpt-3.5-turbo\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a professional social media content writer for a water purifier brand.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Generate 1 post each for LinkedIn, Instagram, and Facebook about the importance of drinking purified water daily. Keep the tone professional for LinkedIn, trendy and concise for Instagram, and informative but friendly for Facebook. End Instagram and Facebook posts with a call-to-action hashtag like #DrinkPure or #HealthyWater.\"\n    }\n  ],\n  \"temperature\": 0.7\n}\n","options":{"batching":{"batch":{"batchSize":5,"batchInterval":3000}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[120,-160],"id":"cd3a1ca1-6b75-47b9-aac6-75e5f0765d9e","name":"HTTP Request2"}],"connections":{"Webhook":{"main":[[{"node":"SplitInBatches","type":"main","index":0}]]},"Generate Image":{"main":[[{"node":"Assign Scheduled Date","type":"main","index":0}]]},"Assign Scheduled Date":{"main":[[{"node":"Wait for Post Date","type":"main","index":0}]]},"Wait for Post Date":{"main":[[{"node":"Post to Instagram","type":"main","index":0}]]},"Post to Instagram":{"main":[[{"node":"Publish Instagram","type":"main","index":0}]]},"Publish Instagram":{"main":[[{"node":"Wait for Post Date","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"SplitInBatches":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"pinData":{},"versionId":"17a497cf-aaad-4d4c-bcbf-e2ed02779c51","triggerCount":0,"tags":[]},{"createdAt":"2025-05-27T07:53:31.082Z","updatedAt":"2025-06-06T17:31:49.000Z","id":"w9jfPbEZ3d8vkFGo","name":"My workflow 2","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"webhook","responseMode":"lastNode","responseData":"={{ { success: true } }}","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-400,80],"id":"b6820809-ac36-474e-a610-a33c51a15a35","webhookId":"aec4639b-bca7-4101-ade2-4609b2263b87"},{"parameters":{"batchSize":1,"options":{}},"name":"SplitInBatches","type":"n8n-nodes-base.splitInBatches","typeVersion":1,"position":[-200,80],"id":"5da00e18-f12f-440d-8597-965c9b40a880"},{"parameters":{"authentication":"headerAuth","requestMethod":"POST","url":"=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key={{ $credentials.GeminiApiKey.apiKey }}","jsonParameters":true,"options":{},"bodyParametersJson":"={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Create three captions for the prompt: '{{$json.prompt}}'.\\n\\n• Instagram: casual + relevant hashtags\\n• LinkedIn: professional + value-driven\\n• Facebook: engaging + friendly tone\"\n        }\n      ]\n    }\n  ]\n}\n","headerParametersJson":"={\n  \"Content-Type\": \"application/json\",\n  \"Authorization\": \"Bearer {{$credentials.GeminiApiKey.apiKey}}\"\n}\n"},"name":"Gemini Generate Captions","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[0,0],"id":"34277c08-c447-4f91-b7db-183df7978de7","credentials":{"httpHeaderAuth":{"id":"VwKhlP442OROJsRI","name":"Header Auth account"}}},{"parameters":{"requestMethod":"POST","url":"https://api.stability.ai/v2beta/stable-image/generate/core","options":{"bodyContentType":"multipart-form-data"},"bodyParametersUi":{"parameter":[{"name":"prompt","value":"A premium water purifier in a modern kitchen, 4K, photorealistic lighting"},{"name":"negative_prompt","value":"low quality, blurry, distorted"},{"name":"mode","value":"text-to-image"},{"name":"steps","value":"30"},{"name":"width","value":"512"},{"name":"height","value":"640"},{"name":"output_format","value":"png"},{"name":"style_preset\t","value":"photographic"}]},"headerParametersUi":{"parameter":[{"name":"Authorization","value":"Bearer sk-Oo2KhClYOySLR1jxcQsqEXeOP7Lh4F2HV0OpXTAXbrbISX6X"}]}},"name":"Generate Image","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[0,160],"id":"a5f568bd-5f3f-4a14-b647-4d8186ebd71d"},{"parameters":{"functionCode":"return items.map((item, index) => {\n  const dt = new Date();\n  dt.setDate(dt.getDate() + index);\n  item.json.scheduledDate = dt.toISOString();\n  const captionsText = item.json.body.candidates[0].content.parts[0].text;\n  const parts = captionsText.split('\\n').filter(Boolean);\n  item.json.captions = {\n    instagram: parts.find(p => p.toLowerCase().startsWith('• instagram'))?.replace(/^• instagram:\\s*/i, '').trim(),\n    linkedin: parts.find(p => p.toLowerCase().startsWith('• linkedin'))?.replace(/^• linkedin:\\s*/i, '').trim(),\n    facebook: parts.find(p => p.toLowerCase().startsWith('• facebook'))?.replace(/^• facebook:\\s*/i, '').trim()\n  };\n  item.json.imageUrl = item.json.response?.artifacts?.[0]?.url || item.json.url;\n  return item;\n});"},"name":"Assign Scheduled Date","type":"n8n-nodes-base.function","typeVersion":1,"position":[200,80],"id":"35fa9718-c5f5-4d3c-9230-5bc12247319a"},{"parameters":{},"name":"Wait for Post Date","type":"n8n-nodes-base.wait","typeVersion":1,"position":[400,80],"id":"f9514a34-f46e-4497-9f5b-9466c5a1ef64","webhookId":"91e4e55d-4881-4eca-a21d-630efede8cd3"},{"parameters":{"url":"=https://graph.facebook.com/v17.0/{{instagramUserId}}/media","jsonParameters":true,"options":{}},"name":"Post to Instagram","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[600,0],"id":"e1a7449b-079e-4fca-94f3-ae5f431f4e7d"},{"parameters":{"url":"=https://graph.facebook.com/v17.0/{{instagramUserId}}/media_publish","jsonParameters":true,"options":{}},"name":"Publish Instagram","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[800,0],"id":"2731dc09-be41-4a03-9af6-7b617d8090bf"},{"parameters":{"url":"https://graph.facebook.com/v17.0/{{facebookPageId}}/photos","jsonParameters":true,"options":{}},"name":"Post to Facebook","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[600,160],"id":"1b68b58c-6235-4640-8b01-8556714786c9"},{"parameters":{"url":"https://api.linkedin.com/v2/ugcPosts","jsonParameters":true,"options":{}},"name":"Post to LinkedIn","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[600,320],"id":"f6108cfa-72b3-4a33-b5f9-62a12a1d52f7"}],"connections":{"Webhook":{"main":[[{"node":"SplitInBatches","type":"main","index":0}]]},"SplitInBatches":{"main":[[{"node":"Gemini Generate Captions","type":"main","index":0}]]},"Gemini Generate Captions":{"main":[[{"node":"Generate Image","type":"main","index":0}]]},"Generate Image":{"main":[[{"node":"Assign Scheduled Date","type":"main","index":0}]]},"Assign Scheduled Date":{"main":[[{"node":"Wait for Post Date","type":"main","index":0}]]},"Wait for Post Date":{"main":[[{"node":"Post to Instagram","type":"main","index":0}]]},"Post to Instagram":{"main":[[{"node":"Publish Instagram","type":"main","index":0}]]},"Publish Instagram":{"main":[[{"node":"Wait for Post Date","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2aba0f5a-96e2-4be2-a2c5-9943df95620b","triggerCount":0,"tags":[]},{"createdAt":"2025-05-27T13:16:26.639Z","updatedAt":"2025-06-08T13:18:30.000Z","id":"1zMY7mQhCgJZit5y","name":"Ad auto sheduler","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"seconds"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-240,0],"id":"586bdfd2-864d-4ba6-b942-aa985667525f","name":"Schedule Trigger"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1zLjsCqQ_i3P5M1Eau-06GN7xVaqBT4HGFvsuHVba2Xc","mode":"id"},"sheetName":{"__rl":true,"value":"Sheet1","mode":"name"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-20,0],"id":"8886e60d-a684-4d6b-98f6-0a0e59006860","name":"Google Sheets","credentials":{"googleApi":{"id":"sB4l9n06vnBZW68g","name":"google sheet service account api"}}},{"parameters":{"jsCode":"const today = new Date().toISOString().slice(0, 10);\n\n// Step 1: pair each item with its index\nconst withIndex = items.map((item, i) => ({ json: item.json, index: i }));\n\n// Step 2: filter using that index metadata\nconst filtered = withIndex.filter(({ json }) => {\n  // Only Pending rows\n  if (json.Status !== 'Pending') return false;\n\n  const isToday = json.Date === today;\n\n  // Manual always, or Automatic if today\n  if (json['Publish Mode'] === 'Manual') return true;\n  if (json['Publish Mode'] === 'Automatic' && isToday) return true;\n\n  return false;\n});\n\n// Step 3: map back to the format n8n expects, plus compute row_number\nreturn filtered.map(({ json, index }) => ({\n  json: {\n    ...json,\n    // actual sheet row is zero-based index + 2 (header row is 1)\n    row_number: index + 1,\n  }\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[140,0],"id":"4f240070-7207-4e9c-b4d0-6bfb0e7061de","name":"Code","alwaysOutputData":false},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"1zLjsCqQ_i3P5M1Eau-06GN7xVaqBT4HGFvsuHVba2Xc","mode":"id"},"sheetName":{"__rl":true,"value":"Sheet1","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_number +1 }}","Status":"In Progress","Prompt":"={{ $node[\"Code\"].json[\"Prompt\"] }}\n"},"matchingColumns":["row_number"],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Prompt Type","displayName":"Prompt Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Prompt","displayName":"Prompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Publish Mode","displayName":"Publish Mode","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"IG Content","displayName":"IG Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"FB Content","displayName":"FB Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LI Content","displayName":"LI Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Images","displayName":"Images","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"IG Link","displayName":"IG Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FB Link","displayName":"FB Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LI Link","displayName":"LI Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[300,0],"id":"201b41cf-f792-4270-b1ce-18f74273e214","name":"Google Sheets1","credentials":{"googleApi":{"id":"sB4l9n06vnBZW68g","name":"google sheet service account api"}}},{"parameters":{"method":"POST","url":"https://api-inference.huggingface.co/models/stabilityai/stable-diffusion-xl-base-1.0","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 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"},{"name":"Accept","value":"image/png"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"inputs\": \"A realistic product photo of a modern water purifier placed on a kitchen counter, stainless steel finish, photorealistic, high-resolution, studio lighting, DSLR quality\",\n  \"options\": {\n    \"wait_for_model\": true\n  }\n}\n","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[580,320],"id":"2b6729f5-a7c7-4092-aa18-e96b53585e0e","name":"Generate Image (Hugging Face SDXL)"},{"parameters":{"authentication":"serviceAccount","operation":"share","fileId":{"__rl":true,"value":"={{ $node[\"Upload Image\"].json[\"id\"] }}\n","mode":"id"},"permissionsUi":{"permissionsValues":{"role":"reader","type":"anyone"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1040,320],"id":"37a50d92-5633-42b2-b11a-4f9a2e2ca343","name":"Share Image","credentials":{"googleApi":{"id":"sB4l9n06vnBZW68g","name":"google sheet service account api"}}},{"parameters":{"authentication":"serviceAccount","name":"={{$json[\"Prompt\"]}}.png","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1vXTOLs-YVmaosCqeVuPCZukbL3o3_w3j","mode":"list","cachedResultName":"AdSheduler","cachedResultUrl":"https://drive.google.com/drive/folders/1vXTOLs-YVmaosCqeVuPCZukbL3o3_w3j"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[800,320],"id":"75fdb770-fef5-4ac3-a5a7-8c0397d0d82d","name":"Upload Image","credentials":{"googleApi":{"id":"sB4l9n06vnBZW68g","name":"google sheet service account api"}}},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 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"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $node[\"Code LI\"].json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,60],"id":"2a4113f1-6965-4930-8a35-450f9c5fdd05","name":"HTTP Request LI"},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 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"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $node[\"Code IG\"].json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,-340],"id":"36b0cdde-3ef3-4ef7-a4c7-61454e24835b","name":"HTTP Request IG"},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 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"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $node[\"Code FB\"].json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,-140],"id":"e182f814-8519-43af-a3e4-62416fc9dffc","name":"HTTP Request FB"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1280,-180],"id":"f74328bf-daf8-4a64-a1fe-f4808ec7720f","name":"Merge"},{"parameters":{"mode":"raw","jsonOutput":"={\n     \"instagram_json\": {{ \n       // Grab the entire “content” string from HTTP Request IG:\n       (() => {\n         const content = $node[\"HTTP Request IG\"].json.choices[0].message.content;\n         // If it contains a fenced JSON block, parse only that part:\n         if (content.includes(\"```json\")) {\n           // 1. Extract the portion between ```json and ``` using a RegExp\n           const match = content.match(/```json([\\s\\S]*?)```/);\n           if (match && match[1]) {\n             // 2. Trim leading/trailing whitespace/newlines:\n             const cleaned = match[1].trim();\n             // 3. Parse that cleaned text as real JSON:\n             try {\n               return JSON.parse(cleaned);\n             } catch (e) {\n               // If parsing fails for some reason, fall back to empty object\n               return {};\n             }\n           }\n         }\n         // If there is no ```json block, return an empty object so we still produce valid JSON\n         return {};\n       })()\n     }}\n   }","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1020,-340],"id":"b5c87c84-3cfe-41fb-966a-0328f84bb755","name":"Set IG"},{"parameters":{"mode":"raw","jsonOutput":"={\n     \"facebook_json\": {{ \n       // 1. Grab the entire “content” string from HTTP Request FB:\n       $node[\"HTTP Request FB\"].json.choices[0].message.content\n         // 2. Use a regex to capture ONLY what’s between ```json and ```:\n         .match(/```json([\\s\\S]*?)```/)[1]\n         // 3. Trim off any stray newline/whitespace:\n         .trim()\n     }}\n   }","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1020,-160],"id":"8da38efd-cd32-4420-b4d0-00fdf1e7dd8b","name":"Set FB"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1360,320],"id":"383656f9-73a1-4155-8d28-766d1f769486","name":"Merge1"},{"parameters":{"assignments":{"assignments":[{"id":"79990d7a-f490-4f81-90ea-21e9fa42be69","name":"linkedin_json","value":"={{\n  JSON.parse(\n    $node[\"HTTP Request LI\"].json.choices[0].message.content\n      .match(/```json([\\s\\S]*?)```/)?.[1]?.trim() \n    || '{}'\n  )\n}}\n","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1620,360],"id":"ce17ec90-8b5f-4418-a9ef-4d300919df58","name":"Set LI"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1zLjsCqQ_i3P5M1Eau-06GN7xVaqBT4HGFvsuHVba2Xc","mode":"id"},"sheetName":{"__rl":true,"value":"Sheet1","mode":"name"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"In Progress"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1720,40],"id":"c1c02519-5072-46f9-952e-62a9ef3a840e","name":"Google Sheets2","credentials":{"googleApi":{"id":"sB4l9n06vnBZW68g","name":"google sheet service account api"}}},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"1zLjsCqQ_i3P5M1Eau-06GN7xVaqBT4HGFvsuHVba2Xc","mode":"id"},"sheetName":{"__rl":true,"value":"Sheet1","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_number }}","IG Content":"={{$node[\"Merge\"].json[\"instagram_json\"].ig_content[0]}}\n","FB Content":"={{$node[\"Merge\"].json[\"facebook_json\"].fb_content}}\n","LI Content":"={{$node[\"Merge\"].json[\"linkedin_json\"].li_content}}\n","Images":"={{$json[\"Images\"]}}"},"matchingColumns":["row_number"],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Prompt Type","displayName":"Prompt Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Prompt","displayName":"Prompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Publish Mode","displayName":"Publish Mode","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"IG Content","displayName":"IG Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"FB Content","displayName":"FB Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LI Content","displayName":"LI Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Images","displayName":"Images","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"IG Link","displayName":"IG Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"FB Link","displayName":"FB Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LI Link","displayName":"LI Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1940,40],"id":"b690a4b2-c442-4cbe-908e-67bc46bbeab4","name":"Google Sheets3","credentials":{"googleApi":{"id":"sB4l9n06vnBZW68g","name":"google sheet service account api"}}},{"parameters":{"jsCode":"// -------------------------------------------------------\n// Code1: build a proper OpenRouter /chat/completions JSON\n// -------------------------------------------------------\n\n// 1) Grab the incoming Prompt (trim off any trailing newlines)\nconst incoming = items[0].json;\nconst rawPrompt = (incoming.Prompt || \"\").trim();\n\n// 2) Construct the Chat payload\nconst chatBody = {\n  model: \"deepseek/deepseek-chat-v3-0324:free\",\n  messages: [\n    {\n      role: \"system\",\n      content:\n        \"You are a social-media copywriter specializing in Instagram. \" +\n        \"You will receive a single input, which may be text, an image URL, or a website link.\"\n    },\n    {\n      role: \"user\",\n      content:\n        // Here we wrap the prompt in escaped quotes so that if someone\n        // literally types a quote in the sheet, JSON still remains valid.\n        `For Instagram, write TWO short, engaging paragraphs (max 2–3 sentences each) about \\\"${rawPrompt}\\\". ` +\n        \"Then give 5–6 caption ideas that are catchy, emoji-rich, and under 2200 characters. \" +\n        \"Return EXACTLY a JSON object with keys: ig_content, ig_captions (array of strings).\"\n    }\n  ]\n};\n\n// 3) Return that Chat payload as the new item.json\nreturn [\n  {\n    json: chatBody\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[560,-340],"id":"cae1fa2b-19c7-4dce-bf03-25848eb16750","name":"Code IG"},{"parameters":{"jsCode":"// -------------------------------------------------------\n// Code2: build a proper OpenRouter /chat/completions JSON for Facebook\n// -------------------------------------------------------\n\nconst incoming = items[0].json;\nconst rawPrompt = (incoming.Prompt || \"\").trim();\n\nconst chatBody = {\n  model: \"deepseek/deepseek-chat-v3-0324:free\",\n  messages: [\n    {\n      role: \"system\",\n      content:\n        \"You are a social-media copywriter specializing in Facebook posts. \" +\n        \"You will receive a single input, which may be text, an image URL, or a website link.\"\n    },\n    {\n      role: \"user\",\n      content:\n        `For Facebook, write TWO friendly and informative paragraphs about \"${rawPrompt}\". ` +\n        \"Then provide 5–6 post caption options that encourage engagement (likes, comments, shares). \" +\n        \"Return EXACTLY a JSON object with keys: fb_content, fb_captions (array of strings).\"\n    }\n  ]\n};\n\nreturn [\n  {\n    json: chatBody\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[540,-140],"id":"6809741f-561b-4106-b7a2-0f8aae469bb9","name":"Code FB"},{"parameters":{"jsCode":"const incoming = items[0].json;\nconst rawPrompt = (incoming.Prompt || \"\").trim();\n\nconst chatBody = {\n  model: \"deepseek/deepseek-chat-v3-0324:free\",\n  messages: [\n    {\n      role: \"system\",\n      content:\n        \"You are a professional LinkedIn social media copywriter specializing in the water purifier industry. \" +\n        \"Write content that is professional yet engaging, with a good number of relevant emojis to make it lively. \" +\n        \"Focus on business insights, value, and customer benefits.\"\n    },\n    {\n      role: \"user\",\n      content:\n        `Write a LinkedIn post about \"${rawPrompt}\" structured as follows:\\n` +\n        `1. Start with a short introductory paragraph (2-3 sentences) that grabs attention.\\n` +\n        `2. Follow with 3 key points highlighting important insights or benefits, each including emojis.\\n` +\n        `3. Add these contact links exactly:\\n` +\n        `   🔗 Visit www.ralla.in\\n` +\n        `   📩 support@ralla.in\\n` +\n        `4. Finally, provide 5-7 relevant hashtags based on the topic.\\n` +\n        `Make the tone professional but warm, use plenty of relevant emojis throughout, and write for a business LinkedIn audience.\\n` +\n        `Return EXACTLY a JSON object with keys:\\n` +\n        `li_content (string, the full post including paragraphs, points, links),\\n` +\n        `li_captions (array of catchy caption strings),\\n` +\n        `li_hashtags (array of hashtag strings).`\n    }\n  ]\n};\n\nreturn [\n  {\n    json: chatBody\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[560,60],"id":"d1d4543f-e3e3-48b2-a20e-44e96b7f575c","name":"Code LI"},{"parameters":{"assignments":{"assignments":[{"id":"18f5d894-8c1a-4907-8b56-ea513cd261e0","name":"row_number","value":"={{$json[\"row_number\"]}}","type":"string"},{"id":"cee80b88-ba41-4673-aa1f-0f80123c3264","name":"textToPost","value":"={{$json[\"LI Content\"]}}","type":"string"},{"id":"4a9aff5b-e46c-4a6a-a6b7-2ae713a16485","name":"Image","value":"={{$json[\"Images\"]}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2160,40],"id":"2fe51298-6a92-48a5-a714-247cb4a32f33","name":"Edit Fields"},{"parameters":{"url":"={{$json[\"directImageUrl\"]}}\n","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2600,160],"id":"b607cf1d-9051-4731-a771-e1fe61b78bb0","name":"Download Image"},{"parameters":{"jsCode":"// 1) Grab the existing fields\nconst rowNum = $json[\"row_number\"];       // e.g. \"3\"\nconst text = $json[\"textToPost\"];         // your LI Content\nconst driveLink = $json[\"Image\"];         // e.g. \"https://drive.google.com/file/d/11mOBzWHx5e0hljXg2YByq6XEYUF4dVu4/view?usp=sharing\"\n\n// 2) Extract the file ID from the Drive link\n//    We split on \"/d/\" and then on the next \"/\"\nlet fileId = \"\";\nif (driveLink.includes(\"/d/\")) {\n  fileId = driveLink.split(\"/d/\")[1].split(\"/\")[0];\n}\n\n// 3) Build the direct-download URL\nconst directDownloadUrl = `https://drive.google.com/uc?export=download&id=${fileId}`;\n\nreturn [\n  {\n    json: {\n      row_number: rowNum,\n      textToPost: text,\n      directImageUrl: directDownloadUrl\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2380,40],"id":"46a56d04-f8cd-45c0-aafd-4d20e1b147ad","name":"Convert Drive URL"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[3080,-40],"id":"21962703-4441-4d38-9d8f-51916fa5efa8","name":"Merge By Index"},{"parameters":{"jsCode":"// items[] is the array of incoming items; we assume only one item for simplicity.\nconst item = items[0].json;\n\n// Grab the assistant’s content (the triple‐backtick block) from HTTP Request LI\nconst content = item.choices[0].message.content;\n\n// Extract whatever is between ```json ... ```\nconst matched = content.match(/```json([\\s\\S]*?)```/);\nconst jsonString = matched ? matched[1].trim() : \"{}\";\n\n// Parse into a real JS object\nlet parsed;\ntry {\n  parsed = JSON.parse(jsonString);\n} catch (e) {\n  // If parsing fails for any reason, fallback to an empty object:\n  parsed = {};\n}\n\n// Attach that parsed object to a new field called \"linkedin_json\"\nitem.linkedin_json = parsed;\n\n// Return the modified item\nreturn [\n  {\n    json: item\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,40],"id":"5e68b9d7-ceee-4694-9184-e90cde5f816e","name":"Code1"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json }}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2680,-80],"id":"a1c57a12-9857-4f3c-94a8-8b74ca7e27c8","name":"Set (Text)"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json }}\n","includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2820,160],"id":"6afb3240-e068-43eb-b234-3643c9fa1ce5","name":"Edit Fields1"},{"parameters":{"postAs":"organization","organization":"101745338","text":"={{$json[\"textToPost\"]}}","shareMediaCategory":"IMAGE","additionalFields":{}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[3340,-40],"id":"0cb9bd47-087d-4cb0-9864-34fc3bb96f38","name":"LinkedIn","credentials":{"linkedInOAuth2Api":{"id":"0AnM2V81XE0hKc99","name":"LinkedIn account company"}}},{"parameters":{"url":"https://api.linkedin.com/v2/me","authentication":"predefinedCredentialType","nodeCredentialType":"linkedInOAuth2Api","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3420,220],"id":"d60b7117-85c4-4aa9-9045-94e72112b4d7","name":"HTTP Request","credentials":{"linkedInOAuth2Api":{"id":"C9higLivZxWOVHks","name":"LinkedIn account"}}},{"parameters":{"url":"https://api.linkedin.com/v2/me","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer AQVEudmAhUasX7dm9CZZJpkDonM-4Xj3BHJg3riKubPQEEbw1gtQP5JUBboYcVJERW7yHDWKDf0BrPfHtlR7uAxfSClyTU9JVRM-XzGfmFl-qScwWzt0xMJ7kskdnXjJAAGH8aWj0RMdx-X7gJvXByYexkpJeKRvCqCTeeBShaYwXt2lpPatbyasIRdK_tlZ9xqvthllcfvzbQT-B5FLg7gyMSmM_1on1oIcLh16ei1EQXHEO34ZLcjAY96xg_xjG_B1wXNqsODlK6pCA5rcV8O9vnBOsCCZ7-hZUriBZmxEwbqheepWAXV_1TtLl2PTjnX4OiG2mbHwH4Z2g_2zOasWUIOU1g"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3220,-280],"id":"0a34713e-ae39-4265-bbe2-fa573b3bb46a","name":"HTTP Request1"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Code LI","type":"main","index":0}]]},"Generate Image (Hugging Face SDXL)":{"main":[[{"node":"Upload Image","type":"main","index":0}]]},"Upload Image":{"main":[[{"node":"Share Image","type":"main","index":0}]]},"Share Image":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"HTTP Request LI":{"main":[[{"node":"Code1","type":"main","index":0}]]},"HTTP Request IG":{"main":[[{"node":"Set IG","type":"main","index":0}]]},"HTTP Request FB":{"main":[[{"node":"Set FB","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"Set IG":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Set FB":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Set LI":{"main":[[]]},"Merge1":{"main":[[]]},"Google Sheets2":{"main":[[{"node":"Google Sheets3","type":"main","index":0}]]},"Code IG":{"main":[[{"node":"HTTP Request IG","type":"main","index":0}]]},"Code FB":{"main":[[{"node":"HTTP Request FB","type":"main","index":0}]]},"Code LI":{"main":[[{"node":"HTTP Request LI","type":"main","index":0}]]},"Google Sheets3":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Convert Drive URL","type":"main","index":0}]]},"Convert Drive URL":{"main":[[{"node":"Download Image","type":"main","index":0},{"node":"Set (Text)","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Set (Text)":{"main":[[{"node":"Merge By Index","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Merge By Index","type":"main","index":1}]]},"Merge By Index":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"295d10f5-6c83-4af3-ab6b-0ccb73906792","triggerCount":1,"tags":[]},{"createdAt":"2025-06-03T13:00:35.530Z","updatedAt":"2025-06-06T17:31:58.000Z","id":"A9q7TNmLEdQRc5TX","name":"My workflow 3","active":false,"isArchived":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"5ca7df15-9d9c-4459-9182-d774f5a6ba1b","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"https://api.linkedin.com/v2/me","authentication":"predefinedCredentialType","nodeCredentialType":"linkedInOAuth2Api","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,0],"id":"97ad1cbb-7799-4b78-979b-a26745c08089","name":"HTTP Request","credentials":{"linkedInOAuth2Api":{"id":"d4NQDomKFiQ7zOCR","name":"LinkedIn account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ed6f496f-1090-4e88-844f-6e450fdfa1f1","triggerCount":0,"tags":[]},{"createdAt":"2025-06-05T01:52:08.496Z","updatedAt":"2025-06-09T13:57:46.000Z","id":"90VeNF6E0usJrJGM","name":"Creating content","active":false,"isArchived":false,"nodes":[{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1zLjsCqQ_i3P5M1Eau-06GN7xVaqBT4HGFvsuHVba2Xc","mode":"id"},"sheetName":{"__rl":true,"value":"Sheet1","mode":"name"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"Pending"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-1040,20],"id":"c6438d91-67ca-4cc3-a13e-ea85f04a6bf8","name":"Google Sheets","credentials":{"googleApi":{"id":"sB4l9n06vnBZW68g","name":"google sheet service account api"}}},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"1zLjsCqQ_i3P5M1Eau-06GN7xVaqBT4HGFvsuHVba2Xc","mode":"id"},"sheetName":{"__rl":true,"value":"Sheet1","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_number }}","Status":"In Progress"},"matchingColumns":["row_number"],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Prompt Type","displayName":"Prompt Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Prompt","displayName":"Prompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Publish Mode","displayName":"Publish Mode","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"IG Content","displayName":"IG Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"FB Content","displayName":"FB Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LI Content","displayName":"LI Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Twitter Content","displayName":"Twitter Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Images","displayName":"Images","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"IG Link","displayName":"IG Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FB Link","displayName":"FB Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LI Link","displayName":"LI Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Twitter Link","displayName":"Twitter Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-660,40],"id":"8b030d7f-8ea5-4ab4-ae78-cc7d66dbe813","name":"Google Sheets1","credentials":{"googleApi":{"id":"sB4l9n06vnBZW68g","name":"google sheet service account api"}}},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1zLjsCqQ_i3P5M1Eau-06GN7xVaqBT4HGFvsuHVba2Xc","mode":"id"},"sheetName":{"__rl":true,"value":"Sheet1","mode":"name"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"In Progress"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[980,-140],"id":"60d2d91e-f3dc-4acb-8bd8-833d51195594","name":"Google Sheets2","credentials":{"googleApi":{"id":"sB4l9n06vnBZW68g","name":"google sheet service account api"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1260,20],"id":"033454fb-1f39-4262-87e8-ad551fb001c5","name":"When clicking ‘Execute workflow’"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1600,-140],"id":"99e8e9f9-d9df-497d-90fb-cf2768bead88","name":"Wait","webhookId":"6156bd14-fd30-4529-80a3-6d689719a14d"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-860,20],"id":"6bf927e5-b7ec-4481-adcc-1806919f03d4","name":"Loop Over Items"},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 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"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $node[\"Code LI\"].json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[60,80],"id":"46c64977-715c-4f75-92c6-c40ec25c6bf9","name":"HTTP Request LI"},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 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"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $node[\"Code IG\"].json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[60,-340],"id":"a0d0d6d1-425d-4df4-a7a1-bd51412c6f95","name":"HTTP Request IG"},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 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"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $node[\"Code FB\"].json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[60,-140],"id":"f8327d97-9b4d-41b0-a6ee-190bb9119fd6","name":"HTTP Request FB"},{"parameters":{"jsCode":"// -------------------------------------------------------\n// Code1: build a proper OpenRouter /chat/completions JSON\n// -------------------------------------------------------\n\n// 1) Grab the incoming Prompt (trim off any trailing newlines)\nconst incoming = items[0].json;\nconst rawPrompt = (incoming.Prompt || \"\").trim();\n\n// 2) Construct the Chat payload\nconst chatBody = {\n  model: \"deepseek/deepseek-chat-v3-0324:free\",\n  messages: [\n    {\n      role: \"system\",\n      content:\n        \"You are a social-media copywriter specializing in Instagram. \" +\n        \"You will receive a single input, which may be text, an image URL, or a website link.\"\n    },\n    {\n      role: \"user\",\n      content:\n        `For Instagram, write a post about \\\"${rawPrompt}\\\" structured as follows:\\n` +\n        `1. Two short introductory paragraphs (each 2–3 sentences), packed with relevant emojis.\\n` +\n        `2. Four key points (each one sentence or a few words) highlighting insights or benefits, each including at least one emoji.\\n` +\n        `3. After the points, include exactly one of these contact blocks (with emojis):\\n` +\n        `   🔗 Visit www.ralla.in\\n` +\n        `   📩 support@ralla.in\\n\\n` +\n        `   — or —\\n\\n` +\n        `   📍 Explore safe, smart solutions at: www.Ralla.in\\n` +\n        `   📩 Questions? Support@Ralla.in\\n\\n` +\n        `4. Finally, embed a few relevant hashtags directly in the content (not as a separate array).\\n\\n` +\n        `IMPORTANT: Do not use any asterisk (*) characters anywhere in the post.\\n\\n` +\n        `Return EXACTLY a JSON object with key:\\n` +\n        `ig_content (string, the full post including both paragraphs, the four points, the chosen contact block, and inline hashtags).`\n    }\n  ]\n};\n\n// 3) Return that Chat payload as the new item.json\nreturn [\n  {\n    json: chatBody\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-180,-340],"id":"f999c1f2-cb88-425f-9dcf-3711647f797c","name":"Code IG"},{"parameters":{"jsCode":"// -------------------------------------------------------\n// Code2: build a proper OpenRouter /chat/completions JSON for Facebook\n// -------------------------------------------------------\n\nconst incoming = items[0].json;\nconst rawPrompt = (incoming.Prompt || \"\").trim();\n\nconst chatBody = {\n  model: \"deepseek/deepseek-chat-v3-0324:free\",\n  messages: [\n    {\n      role: \"system\",\n      content:\n        \"You are a social-media copywriter specializing in Facebook posts. \" +\n        \"You will receive a single input, which may be text, an image URL, or a website link.\"\n    },\n    {\n      role: \"user\",\n      content:\n        `For Facebook, write a post about \"${rawPrompt}\" structured as follows:\\n` +\n        `1. Two short introductory paragraphs (each 2–3 sentences) that feel friendly and informative, filled with relevant emojis.\\n` +\n        `2. Four key points (each one sentence or a few words) highlighting insights or benefits, each including at least one emoji.\\n` +\n        `3. After the points, include exactly one of these contact blocks (with emojis):\\n` +\n        `   🔗 Visit www.ralla.in\\n` +\n        `   📩 support@ralla.in\\n\\n` +\n        `   — or —\\n\\n` +\n        `   📍 Explore safe, smart solutions at: www.Ralla.in\\n` +\n        `   📩 Questions? Support@Ralla.in\\n\\n` +\n        `4. Finally, embed a few relevant hashtags directly in the content (not as a separate array).\\n\\n` +\n        `IMPORTANT: Do not use any asterisk (*) characters anywhere in the post.\\n\\n` +\n        `Return EXACTLY a JSON object with key:\\n` +\n        `fb_content (string, the full post including both paragraphs, the four points, the chosen contact block, and inline hashtags).`\n    }\n  ]\n};\n\nreturn [\n  {\n    json: chatBody\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-200,-140],"id":"f8c0f9ce-8ee3-4ddb-ad4c-7c515b9c94ad","name":"Code FB"},{"parameters":{"jsCode":"// -------------------------------------------------------\n// Code3: build a proper OpenRouter /chat/completions JSON for LinkedIn\n// -------------------------------------------------------\n\nconst incoming = items[0].json;\nconst rawPrompt = (incoming.Prompt || \"\").trim();\n\nconst chatBody = {\n  model: \"deepseek/deepseek-chat-v3-0324:free\",\n  messages: [\n    {\n      role: \"system\",\n      content:\n        \"You are a social-media copywriter specializing in LinkedIn posts. \" +\n        \"You will receive a single input, which may be text, an image URL, or a website link.\"\n    },\n    {\n      role: \"user\",\n      content:\n        `For LinkedIn, write a post about \"${rawPrompt}\" structured as follows:\\n` +\n        `1. Two short introductory paragraphs (each 2–3 sentences) that are polished, professional, and engaging, enriched with relevant emojis.\\n` +\n        `2. Four concise key points (each one sentence or a few words) highlighting strategic insights or benefits, each including at least one emoji.\\n` +\n        `3. After the points, include exactly one of these contact blocks (with emojis):\\n` +\n        `   🔗 Visit www.ralla.in\\n` +\n        `   📩 support@ralla.in\\n\\n` +\n        `   — or —\\n\\n` +\n        `   📍 Explore safe, smart solutions at: www.Ralla.in\\n` +\n        `   📩 Questions? Support@Ralla.in\\n\\n` +\n        `4. Finally, embed a few relevant hashtags directly in the content (not as a separate array).\\n\\n` +\n        `IMPORTANT: Do not use any asterisk (*) characters anywhere in the post.\\n\\n` +\n        `Return EXACTLY a JSON object with key:\\n` +\n        `li_content (string, the full post including both paragraphs, the four points, the chosen contact block, and inline hashtags).`\n    }\n  ]\n};\n\nreturn [\n  {\n    json: chatBody\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-220,80],"id":"e5feecfd-408c-4a54-a224-9fdfd0c1b86f","name":"Code LI"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":4,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[660,-140],"id":"8b81ba9f-31fe-45ba-9a8d-616eb23e5b77","name":"Merge1"},{"parameters":{"mode":"raw","jsonOutput":"={\n     \"instagram_json\": {{ \n       // Grab the entire “content” string from HTTP Request IG:\n       (() => {\n         const content = $node[\"HTTP Request IG\"].json.choices[0].message.content;\n         // If it contains a fenced JSON block, parse only that part:\n         if (content.includes(\"```json\")) {\n           // 1. Extract the portion between ```json and ``` using a RegExp\n           const match = content.match(/```json([\\s\\S]*?)```/);\n           if (match && match[1]) {\n             // 2. Trim leading/trailing whitespace/newlines:\n             const cleaned = match[1].trim();\n             // 3. Parse that cleaned text as real JSON:\n             try {\n               return JSON.parse(cleaned);\n             } catch (e) {\n               // If parsing fails for some reason, fall back to empty object\n               return {};\n             }\n           }\n         }\n         // If there is no ```json block, return an empty object so we still produce valid JSON\n         return {};\n       })()\n     }}\n   }","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[280,-340],"id":"3a32762c-45c2-487c-9a17-bcd9c42b2b5f","name":"Set IG1"},{"parameters":{"mode":"raw","jsonOutput":"={\n     \"facebook_json\": {{ \n       // 1. Grab the entire “content” string from HTTP Request FB:\n       $node[\"HTTP Request FB\"].json.choices[0].message.content\n         // 2. Use a regex to capture ONLY what’s between ```json and ```:\n         .match(/```json([\\s\\S]*?)```/)[1]\n         // 3. Trim off any stray newline/whitespace:\n         .trim()\n     }}\n   }","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[280,-140],"id":"db291119-607e-4b4c-aa9c-fc26823db2da","name":"Set FB1"},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"1zLjsCqQ_i3P5M1Eau-06GN7xVaqBT4HGFvsuHVba2Xc","mode":"id"},"sheetName":{"__rl":true,"value":"Sheet1","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_number }}","LI Content":"={{$node[\"Merge1\"].json[\"linkedin_json\"].li_content}}","Images":"={{$json[\"Images\"]}}","Status":"Completed","FB Content":"={{$node[\"Merge1\"].json[\"facebook_json\"].fb_content}}","IG Content":"={{$node[\"Merge1\"].json[\"instagram_json\"].ig_content}}\n","Twitter Content":"={{$node[\"Merge1\"].json[\"twitter_json\"].tw_content}}"},"matchingColumns":["row_number"],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Prompt Type","displayName":"Prompt Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Prompt","displayName":"Prompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Publish Mode","displayName":"Publish Mode","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"IG Content","displayName":"IG Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"FB Content","displayName":"FB Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LI Content","displayName":"LI Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Twitter Content","displayName":"Twitter Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Images","displayName":"Images","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"IG Link","displayName":"IG Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"FB Link","displayName":"FB Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LI Link","displayName":"LI Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Twitter Link","displayName":"Twitter Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1260,-140],"id":"9cc35114-173d-44f7-b937-0cc89a54af53","name":"Google Sheets3","credentials":{"googleApi":{"id":"sB4l9n06vnBZW68g","name":"google sheet service account api"}}},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1zLjsCqQ_i3P5M1Eau-06GN7xVaqBT4HGFvsuHVba2Xc","mode":"id"},"sheetName":{"__rl":true,"value":"Sheet1","mode":"name"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"In Progress"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-480,40],"id":"2296333c-39b2-422c-affc-35b0fa2f9f54","name":"Google Sheets4","credentials":{"googleApi":{"id":"sB4l9n06vnBZW68g","name":"google sheet service account api"}}},{"parameters":{"jsCode":"// -------------------------------------------------------\n// Code4: build a proper OpenRouter /chat/completions JSON for Twitter\n// -------------------------------------------------------\n\nconst incoming = items[0].json;\nconst rawPrompt = (incoming.Prompt || \"\").trim();\n\nconst chatBody = {\n  model: \"deepseek/deepseek-chat-v3-0324:free\",\n  messages: [\n    {\n      role: \"system\",\n      content:\n        \"You are a social-media copywriter specializing in Twitter. \" +\n        \"You will receive a single input, which may be text, an image URL, or a website link.\"\n    },\n    {\n      role: \"user\",\n      content:\n        `For Twitter, write a thread about \"${rawPrompt}\" structured as follows:\\n` +\n        `1. Tweet 1: A hook (max 280 characters) that grabs attention, with relevant emojis.\\n` +\n        `2–5. Tweets 2–5: Four concise tweets (each max 280 characters), each highlighting a key insight or benefit with at least one emoji.\\n` +\n        `6. Tweet 6: Include exactly one of these contact blocks (with emojis) and then embed a few relevant hashtags inline (all within 280 characters):\\n` +\n        `   🔗 Visit www.ralla.in\\n` +\n        `   📩 support@ralla.in\\n\\n` +\n        `   — or —\\n\\n` +\n        `   📍 Explore safe, smart solutions at: www.Ralla.in\\n` +\n        `   📩 Questions? Support@Ralla.in\\n\\n` +\n        `IMPORTANT: Do not use any asterisk (*) characters anywhere in the thread.\\n\\n` +\n        `Return EXACTLY a JSON object with key:\\n` +\n        `tw_content (array of 6 tweet strings in order).`\n    }\n  ]\n};\n\nreturn [\n  {\n    json: chatBody\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-220,280],"id":"2917954c-18a7-45c4-aa6c-929feba65ff4","name":"Code LI1"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"linkedin_json\": {{ \n    // 1. Grab the entire “content” string from HTTP Request LI:\n    $node[\"HTTP Request LI\"].json.choices[0].message.content\n      // 2. Use a regex to capture ONLY what’s between ```json and ```:\n      .match(/```json([\\s\\S]*?)```/)[1]\n      // 3. Trim off any stray newline/whitespace:\n      .trim()\n  }}\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[300,80],"id":"59f4f477-4850-462b-ab15-9cb7693ab1f9","name":"Set LI"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"twitter_json\": {{ \n    // 1. Grab the entire “content” string from HTTP Request TW:\n    $node[\"HTTP Request Twitter\"].json.choices[0].message.content\n      // 2. Use a regex to capture ONLY what’s between ```json and ```:\n      .match(/```json([\\s\\S]*?)```/)[1]\n      // 3. Trim off any stray newline/whitespace:\n      .trim()\n  }}\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[300,280],"id":"d577fdba-45ba-4029-bf53-0503c993d8bf","name":"Set Tw"},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 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"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $node[\"Code LI1\"].json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[60,280],"id":"6b4d3294-8ee5-43bf-ad5e-13e02856b4a6","name":"HTTP Request Twitter"}],"connections":{"Google Sheets":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Google Sheets4","type":"main","index":0}]]},"Google Sheets2":{"main":[[{"node":"Google Sheets3","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Google Sheets1","type":"main","index":0}]]},"HTTP Request LI":{"main":[[{"node":"Set LI","type":"main","index":0}]]},"HTTP Request IG":{"main":[[{"node":"Set IG1","type":"main","index":0}]]},"HTTP Request FB":{"main":[[{"node":"Set FB1","type":"main","index":0}]]},"Code IG":{"main":[[{"node":"HTTP Request IG","type":"main","index":0}]]},"Code FB":{"main":[[{"node":"HTTP Request FB","type":"main","index":0}]]},"Code LI":{"main":[[{"node":"HTTP Request LI","type":"main","index":0}]]},"Set IG1":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Set FB1":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"Google Sheets3":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Google Sheets4":{"main":[[{"node":"Code FB","type":"main","index":0}]]},"Code LI1":{"main":[[{"node":"HTTP Request Twitter","type":"main","index":0}]]},"Set LI":{"main":[[{"node":"Merge1","type":"main","index":2}]]},"Set Tw":{"main":[[{"node":"Merge1","type":"main","index":3}]]},"HTTP Request Twitter":{"main":[[{"node":"Set Tw","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"036d5595-d7cb-4197-a17f-a8b445a8a54e","triggerCount":0,"tags":[]},{"createdAt":"2025-06-05T06:17:51.299Z","updatedAt":"2025-06-09T12:35:08.000Z","id":"57obsHu20Dr0WSIX","name":"Content Posting","active":false,"isArchived":false,"nodes":[{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1zLjsCqQ_i3P5M1Eau-06GN7xVaqBT4HGFvsuHVba2Xc","mode":"id"},"sheetName":{"__rl":true,"value":"Sheet1","mode":"name"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"Completed"},{"lookupColumn":"Date","lookupValue":"={{$json[\"today\"]}}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-760,200],"id":"d08ca200-bb07-4999-af6d-cd043ac23acd","name":"Google Sheets","credentials":{"googleApi":{"id":"sB4l9n06vnBZW68g","name":"google sheet service account api"}}},{"parameters":{"assignments":{"assignments":[{"id":"18f5d894-8c1a-4907-8b56-ea513cd261e0","name":"row_number","value":"={{$json[\"row_number\"]}}","type":"string"},{"id":"cee80b88-ba41-4673-aa1f-0f80123c3264","name":"textToPost","value":"={{$json[\"LI Content\"]}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-140,500],"id":"965c89ad-b7d7-4daf-a63e-5b85fb262a9f","name":"Edit Fields"},{"parameters":{"url":"={{$json[\"directImageUrl\"]}}\n","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[280,300],"id":"9d33ce4d-13d2-482b-872a-ab2239144d92","name":"Download Image"},{"parameters":{"jsCode":"// 1) Grab the existing fields\nconst rowNum = $json[\"row_number\"];       // e.g. \"3\"\nconst text = $json[\"textToPost\"];         // your LI Content\nconst driveLink = $json[\"Image\"];         // e.g. \"https://drive.google.com/file/d/11mOBzWHx5e0hljXg2YByq6XEYUF4dVu4/view?usp=sharing\"\n\n// 2) Extract the file ID from the Drive link\n//    We split on \"/d/\" and then on the next \"/\"\nlet fileId = \"\";\nif (driveLink.includes(\"/d/\")) {\n  fileId = driveLink.split(\"/d/\")[1].split(\"/\")[0];\n}\n\n// 3) Build the direct-download URL\nconst directDownloadUrl = `https://drive.google.com/uc?export=download&id=${fileId}`;\n\nreturn [\n  {\n    json: {\n      row_number: rowNum,\n      directImageUrl: directDownloadUrl\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,300],"id":"063a62b9-1830-417b-8afe-501bec760834","name":"Convert Drive URL"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json }}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,500],"id":"46546a5a-340e-40b8-8220-de3efdcf8958","name":"Set (Text)"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json }}\n","includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[480,300],"id":"47a9d4eb-0664-41f0-91ba-829c5b4c7cd0","name":"Edit Fields1"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 9 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1160,200],"id":"263574e2-1a7e-4bdb-ac8d-db58d8449773","name":"Daily Trigger","notesInFlow":false},{"parameters":{"assignments":{"assignments":[{"id":"75735e97-0756-423b-b8aa-93d22a380db0","name":"today","value":"={{ new Date().toISOString().split('T')[0] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-940,200],"id":"f50142f6-83b6-4c67-b412-5b3724ebaf0d","name":"Edit Fields2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dd94b705-4f31-4cd3-8457-3ba419bb2681","leftValue":"={{ $json[\"Date\"] }}\n","rightValue":"={{ new Date().toISOString().split(\"T\")[0] }}","operator":{"type":"dateTime","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-520,200],"id":"be7c2627-735e-40d5-ac36-bc14a3474a43","name":"Row Found"},{"parameters":{"assignments":{"assignments":[{"id":"18f5d894-8c1a-4907-8b56-ea513cd261e0","name":"row_number","value":"={{$json[\"row_number\"]}}","type":"string"},{"id":"4a9aff5b-e46c-4a6a-a6b7-2ae713a16485","name":"Image","value":"={{$json[\"Images\"]}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-140,300],"id":"ef169fc7-d752-46e7-8db3-9790d3df9d80","name":"Edit Fields3"},{"parameters":{"assignments":{"assignments":[{"id":"18f5d894-8c1a-4907-8b56-ea513cd261e0","name":"row_number","value":"={{$json[\"row_number\"]}}","type":"string"},{"id":"cee80b88-ba41-4673-aa1f-0f80123c3264","name":"textToPost","value":"={{$json[\"IG Content\"]}}","type":"string"},{"id":"fc4d83c0-6ab0-4ceb-8b08-732c3b3249a9","name":"Image","value":"={{$json[\"Images\"]}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-140,-80],"id":"d3f2e71d-e2b1-4e50-b887-b810ff3c3305","name":"Edit FieldsIG"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,-80],"id":"e0e3ea8c-ec29-45e6-b52c-c3a664e77eac","name":"Set (Text)IG"},{"parameters":{"assignments":{"assignments":[{"id":"18f5d894-8c1a-4907-8b56-ea513cd261e0","name":"row_number","value":"={{$json[\"row_number\"]}}","type":"string"},{"id":"cee80b88-ba41-4673-aa1f-0f80123c3264","name":"textToPost","value":"={{$json[\"FB Content\"]}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-140,120],"id":"9157362e-07ae-4a3c-90a4-6e306f52e263","name":"Edit FieldsFB"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json }}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,120],"id":"3031cd02-1949-4423-944f-a726ab656a60","name":"Set (Text)FB"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1300,200],"id":"f1317cfd-d342-4be8-a104-7a8dbcb8f927","name":"Merge By IndexFB"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[920,480],"id":"b650445b-16b2-45f3-95af-3780fbbb2c0c","name":"Merge By IndexLI"},{"parameters":{"jsCode":"// n8n Function node code\n// Input items: each item.json has:\n//   - row_number\n//   - textToPost\n//   - Image (a Google Drive share link, e.g. https://drive.google.com/file/d/FILE_ID/view?usp=sharing)\n\n// This code will convert the \"Image\" field to a direct download URL \"directImageUrl\"\n\nreturn items.map(item => {\n  const originalUrl = item.json.Image;\n  const match = originalUrl.match(/\\/d\\/(.+?)\\//);\n\n  if (!match) {\n    throw new Error(`Invalid Drive URL: ${originalUrl}`);\n  }\n\n  const fileId = match[1];\n  const directUrl = `https://drive.google.com/uc?export=download&id=${fileId}`;\n\n  return {\n    json: {\n      row_number: item.json.row_number,\n      textToPost: item.json.textToPost,\n      directImageUrl: directUrl\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,-80],"id":"4e723eb8-5836-47c8-8baf-d5f5d22cae95","name":"Code"},{"parameters":{"url":"=https://drive.google.com/uc?export=download&id=17jlgNq94UXTwp4xtsmG982NvT-kHRapZ","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[540,-80],"id":"10d3c86f-b95c-4753-8667-db9fdfa75d9a","name":"Download Image1"},{"parameters":{"method":"POST","url":"https://api.cloudinary.com/v1_1/dvq1stird/image/upload","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"upload_preset","value":"AdSheduler"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[760,-80],"id":"f9171dba-eb63-4544-ba2e-bdb0a6c94ca6","name":"HTTP Request1"},{"parameters":{"assignments":{"assignments":[{"id":"2c100c33-be14-4b8c-a71c-71d72ecb91b3","name":"cdnImageUrl","value":"={{$node[\"HTTP Request1\"].json[\"secure_url\"]}}","type":"string"},{"id":"68a12bcb-cb50-461f-8e8b-ede51a53f001","name":"textToPost","value":"={{$node[\"Download Image1\"].json[\"textToPost\"]}}","type":"string"},{"id":"08f7b287-5e2d-423a-aa04-a55f0d77b6f7","name":"row_number","value":"={{$node[\"Download Image1\"].json[\"row_number\"]}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[980,-80],"id":"5c14d7e6-32f4-4e4b-94a2-2e0f169b3350","name":"Extract Cloudinary URL"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v23.0/17841451640872591/media_publish","authentication":"predefinedCredentialType","nodeCredentialType":"facebookGraphApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"creation_id","value":"={{$node[\"IG: Create Media\"].json[\"id\"]}}"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,-80],"id":"6887ae4e-c193-4bdf-a676-4e647eab2290","name":"IG: Publish Media","credentials":{"facebookGraphApi":{"id":"p9vS0oStzvcC97zj","name":"Facebook Graph account IG"}}},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v23.0/17841451640872591/media","authentication":"predefinedCredentialType","nodeCredentialType":"facebookGraphApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"image_url","value":"={{$node[\"Extract Cloudinary URL\"].json[\"cdnImageUrl\"]}}"},{"name":"caption","value":"={{$node[\"Extract Cloudinary URL\"].json[\"textToPost\"]}}"},{"name":"media_type","value":"IMAGE"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1220,-80],"id":"96df4ed5-58bb-4b36-adc4-439a0c994e91","name":"IG: Create Media","credentials":{"facebookGraphApi":{"id":"p9vS0oStzvcC97zj","name":"Facebook Graph account IG"}}},{"parameters":{"url":"=https://graph.facebook.com/v23.0/{{$node[\"IG: Publish Media\"].json[\"id\"]}}?fields=permalink","authentication":"predefinedCredentialType","nodeCredentialType":"facebookGraphApi","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1660,-80],"id":"ae3aa151-6086-41ae-9f15-51ec4cb95377","name":"IG: Get Permalink","credentials":{"facebookGraphApi":{"id":"p9vS0oStzvcC97zj","name":"Facebook Graph account IG"}}},{"parameters":{"postAs":"organization","organization":"101745338","text":"={{$json[\"textToPost\"]}}","shareMediaCategory":"IMAGE","additionalFields":{}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[1200,480],"id":"f8f2ec20-defb-4344-99b2-4d930fbaabba","name":"LinkedIn Company","credentials":{"linkedInOAuth2Api":{"id":"0AnM2V81XE0hKc99","name":"LinkedIn account company"}}},{"parameters":{"assignments":{"assignments":[{"id":"2c100c33-be14-4b8c-a71c-71d72ecb91b3","name":"cdnImageUrl","value":"={{$node[\"HTTP Request1\"].json[\"secure_url\"]}}","type":"string"},{"id":"08f7b287-5e2d-423a-aa04-a55f0d77b6f7","name":"row_number","value":"={{$node[\"Download Image1\"].json[\"row_number\"]}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[980,100],"id":"6a63e210-4f4b-4596-ac3b-5fe109d54b54","name":"Extract Cloudinary URL1"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v23.0/287342934457192/photos","authentication":"predefinedCredentialType","nodeCredentialType":"facebookGraphApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"url","value":"={{$node[\"Merge By IndexFB\"].json[\"cdnImageUrl\"]}}"},{"name":"caption","value":"={{$node[\"Merge By IndexFB\"].json[\"textToPost\"]}}"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,200],"id":"21e58136-446a-40f5-8cfb-42c463f9b4f3","name":"FB: Create Photo Post","credentials":{"facebookGraphApi":{"id":"8WlKeMcFKg3NTtta","name":"Facebook Graph account FB"}}},{"parameters":{"assignments":{"assignments":[{"id":"55493094-27ed-427e-9c87-7ba1e2b6138a","name":"postLink","value":"={{ \"https://www.facebook.com/\" + $json[\"post_id\"].trim() }}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1740,200],"id":"6ea3a61c-6015-4f01-aefe-864065c816f2","name":"Build FB Permalink"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[2440,200],"id":"fe928d61-f90b-4c2b-96a1-5acd2bf9f522","name":"Merge"},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"1zLjsCqQ_i3P5M1Eau-06GN7xVaqBT4HGFvsuHVba2Xc","mode":"id"},"sheetName":{"__rl":true,"value":"Sheet1","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{$node[\"Merge\"].json[\"row_number\"]}}","Publish Mode":"Posted"},"matchingColumns":["row_number"],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Prompt Type","displayName":"Prompt Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Prompt","displayName":"Prompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Publish Mode","displayName":"Publish Mode","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"IG Content","displayName":"IG Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"FB Content","displayName":"FB Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LI Content","displayName":"LI Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Twitter Content","displayName":"Twitter Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Images","displayName":"Images","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"IG Link","displayName":"IG Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"FB Link","displayName":"FB Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LI Link","displayName":"LI Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Twitter Link","displayName":"Twitter Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2620,200],"id":"6471dbdf-2ef2-4e71-8259-3a2b3f248948","name":"Google Sheets3","credentials":{"googleApi":{"id":"sB4l9n06vnBZW68g","name":"google sheet service account api"}}},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"1zLjsCqQ_i3P5M1Eau-06GN7xVaqBT4HGFvsuHVba2Xc","mode":"id"},"sheetName":{"__rl":true,"value":"Sheet1","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{$node[\"Extract Cloudinary URL\"].json[\"row_number\"]}}","IG Link":"={{$node[\"IG: Get Permalink\"].json[\"permalink\"]}}"},"matchingColumns":["row_number"],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Prompt Type","displayName":"Prompt Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Prompt","displayName":"Prompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Publish Mode","displayName":"Publish Mode","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"IG Content","displayName":"IG Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"FB Content","displayName":"FB Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LI Content","displayName":"LI Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Images","displayName":"Images","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"IG Link","displayName":"IG Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"FB Link","displayName":"FB Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LI Link","displayName":"LI Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1880,-80],"id":"bd19506c-e125-4d1a-a621-c98259e6a389","name":"Google Sheets IG","credentials":{"googleApi":{"id":"sB4l9n06vnBZW68g","name":"google sheet service account api"}}},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"1zLjsCqQ_i3P5M1Eau-06GN7xVaqBT4HGFvsuHVba2Xc","mode":"id"},"sheetName":{"__rl":true,"value":"Sheet1","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{$node[\"Merge By IndexFB\"].json[\"row_number\"]}}","FB Link":"={{$node[\"Build FB Permalink\"].json[\"postLink\"]}}"},"matchingColumns":["row_number"],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Prompt Type","displayName":"Prompt Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Prompt","displayName":"Prompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Publish Mode","displayName":"Publish Mode","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"IG Content","displayName":"IG Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"FB Content","displayName":"FB Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LI Content","displayName":"LI Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Twitter Content","displayName":"Twitter Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Images","displayName":"Images","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"IG Link","displayName":"IG Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"FB Link","displayName":"FB Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LI Link","displayName":"LI Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Twitter Link","displayName":"Twitter Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1960,200],"id":"6cba2ff9-e59c-4295-a5ba-bf452035e751","name":"Google Sheets FB","credentials":{"googleApi":{"id":"sB4l9n06vnBZW68g","name":"google sheet service account api"}}}],"connections":{"Google Sheets":{"main":[[{"node":"Row Found","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Set (Text)","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Convert Drive URL":{"main":[[{"node":"Download Image","type":"main","index":0}]]},"Set (Text)":{"main":[[{"node":"Merge By IndexLI","type":"main","index":1}]]},"Edit Fields1":{"main":[[{"node":"Merge By IndexLI","type":"main","index":0}]]},"Daily Trigger":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Row Found":{"main":[[{"node":"Edit Fields","type":"main","index":0},{"node":"Edit Fields3","type":"main","index":0},{"node":"Edit FieldsIG","type":"main","index":0},{"node":"Edit FieldsFB","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Convert Drive URL","type":"main","index":0}]]},"Edit FieldsIG":{"main":[[{"node":"Set (Text)IG","type":"main","index":0}]]},"Edit FieldsFB":{"main":[[{"node":"Set (Text)FB","type":"main","index":0}]]},"Set (Text)FB":{"main":[[{"node":"Merge By IndexFB","type":"main","index":1}]]},"Set (Text)IG":{"main":[[{"node":"Code","type":"main","index":0}]]},"Merge By IndexFB":{"main":[[{"node":"FB: Create Photo Post","type":"main","index":0}]]},"Merge By IndexLI":{"main":[[{"node":"LinkedIn Company","type":"main","index":0}]]},"Code":{"main":[[{"node":"Download Image1","type":"main","index":0}]]},"Download Image1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Extract Cloudinary URL","type":"main","index":0},{"node":"Extract Cloudinary URL1","type":"main","index":0}]]},"Extract Cloudinary URL":{"main":[[{"node":"IG: Create Media","type":"main","index":0}]]},"IG: Create Media":{"main":[[{"node":"IG: Publish Media","type":"main","index":0}]]},"IG: Publish Media":{"main":[[{"node":"IG: Get Permalink","type":"main","index":0}]]},"IG: Get Permalink":{"main":[[{"node":"Google Sheets IG","type":"main","index":0}]]},"Extract Cloudinary URL1":{"main":[[{"node":"Merge By IndexFB","type":"main","index":0}]]},"FB: Create Photo Post":{"main":[[{"node":"Build FB Permalink","type":"main","index":0}]]},"Build FB Permalink":{"main":[[{"node":"Google Sheets FB","type":"main","index":0}]]},"LinkedIn Company":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Merge":{"main":[[{"node":"Google Sheets3","type":"main","index":0}]]},"Google Sheets IG":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Google Sheets FB":{"main":[[{"node":"Merge","type":"main","index":1}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cec508bd-8bee-4910-9622-411a1df9fa8c","triggerCount":0,"tags":[]},{"createdAt":"2025-06-05T06:45:47.710Z","updatedAt":"2025-06-05T06:52:00.000Z","id":"XFt7p7DwD1cplmko","name":"json content posting","active":false,"isArchived":true,"nodes":[],"connections":{},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"b58c1685-d5e9-47d0-a1ea-df603e3b44d8","triggerCount":0,"tags":[]},{"createdAt":"2025-06-09T12:34:37.459Z","updatedAt":"2025-06-09T12:34:37.459Z","id":"7llV8nEJc5r2xiQ5","name":"Content Posting copy","active":false,"isArchived":false,"nodes":[{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1zLjsCqQ_i3P5M1Eau-06GN7xVaqBT4HGFvsuHVba2Xc","mode":"id"},"sheetName":{"__rl":true,"value":"Sheet1","mode":"name"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"Completed"},{"lookupColumn":"Date","lookupValue":"={{$json[\"today\"]}}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-760,200],"id":"24c0bb84-fefc-4e91-be47-6eaacb2354e0","name":"Google Sheets","credentials":{"googleApi":{"id":"sB4l9n06vnBZW68g","name":"google sheet service account api"}}},{"parameters":{"assignments":{"assignments":[{"id":"18f5d894-8c1a-4907-8b56-ea513cd261e0","name":"row_number","value":"={{$json[\"row_number\"]}}","type":"string"},{"id":"cee80b88-ba41-4673-aa1f-0f80123c3264","name":"textToPost","value":"={{$json[\"LI Content\"]}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-140,500],"id":"ba76b89f-b204-40b2-b073-5efaeb880155","name":"Edit Fields"},{"parameters":{"url":"={{$json[\"directImageUrl\"]}}\n","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[280,300],"id":"b54af060-a27b-4091-b646-3ee06f5bc5e4","name":"Download Image"},{"parameters":{"jsCode":"// 1) Grab the existing fields\nconst rowNum = $json[\"row_number\"];       // e.g. \"3\"\nconst text = $json[\"textToPost\"];         // your LI Content\nconst driveLink = $json[\"Image\"];         // e.g. \"https://drive.google.com/file/d/11mOBzWHx5e0hljXg2YByq6XEYUF4dVu4/view?usp=sharing\"\n\n// 2) Extract the file ID from the Drive link\n//    We split on \"/d/\" and then on the next \"/\"\nlet fileId = \"\";\nif (driveLink.includes(\"/d/\")) {\n  fileId = driveLink.split(\"/d/\")[1].split(\"/\")[0];\n}\n\n// 3) Build the direct-download URL\nconst directDownloadUrl = `https://drive.google.com/uc?export=download&id=${fileId}`;\n\nreturn [\n  {\n    json: {\n      row_number: rowNum,\n      directImageUrl: directDownloadUrl\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,300],"id":"3f6fbb3f-0368-4c6f-8d8d-d52dfe73cebd","name":"Convert Drive URL"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json }}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,500],"id":"a81abdbc-166c-43e3-a28a-5491167bc111","name":"Set (Text)"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json }}\n","includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[480,300],"id":"ff1fc82f-8958-40d9-a58e-c7edf5bbf881","name":"Edit Fields1"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 9 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1160,200],"id":"bcd29010-ab8c-48dc-839b-a22cd2b709c8","name":"Daily Trigger","notesInFlow":false},{"parameters":{"assignments":{"assignments":[{"id":"75735e97-0756-423b-b8aa-93d22a380db0","name":"today","value":"={{ new Date().toISOString().split('T')[0] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-940,200],"id":"f5aa90e0-88da-4243-ae1b-d04f5d0c8c9a","name":"Edit Fields2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"dd94b705-4f31-4cd3-8457-3ba419bb2681","leftValue":"={{ $json[\"Date\"] }}\n","rightValue":"={{ new Date().toISOString().split(\"T\")[0] }}","operator":{"type":"dateTime","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-520,200],"id":"f3330092-90ba-452d-94b1-0e7625954423","name":"Row Found"},{"parameters":{"assignments":{"assignments":[{"id":"18f5d894-8c1a-4907-8b56-ea513cd261e0","name":"row_number","value":"={{$json[\"row_number\"]}}","type":"string"},{"id":"4a9aff5b-e46c-4a6a-a6b7-2ae713a16485","name":"Image","value":"={{$json[\"Images\"]}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-140,300],"id":"cf9bf763-a709-47e4-aeac-67baeb7fb237","name":"Edit Fields3"},{"parameters":{"assignments":{"assignments":[{"id":"18f5d894-8c1a-4907-8b56-ea513cd261e0","name":"row_number","value":"={{$json[\"row_number\"]}}","type":"string"},{"id":"cee80b88-ba41-4673-aa1f-0f80123c3264","name":"textToPost","value":"={{$json[\"IG Content\"]}}","type":"string"},{"id":"fc4d83c0-6ab0-4ceb-8b08-732c3b3249a9","name":"Image","value":"={{$json[\"Images\"]}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-140,-80],"id":"cacfbf91-02a4-496c-8474-2451dbc41f86","name":"Edit FieldsIG"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,-80],"id":"28b1219f-8469-4d78-a164-2d8c3b79f4eb","name":"Set (Text)IG"},{"parameters":{"assignments":{"assignments":[{"id":"18f5d894-8c1a-4907-8b56-ea513cd261e0","name":"row_number","value":"={{$json[\"row_number\"]}}","type":"string"},{"id":"cee80b88-ba41-4673-aa1f-0f80123c3264","name":"textToPost","value":"={{$json[\"FB Content\"]}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-140,120],"id":"fb3b8b9e-fe3d-4dae-982f-3e10eaa33590","name":"Edit FieldsFB"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json }}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,120],"id":"4595453c-71e1-4b4f-a9c2-766b4ba37c47","name":"Set (Text)FB"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1300,200],"id":"92cea316-ac02-4bf5-b22d-f6eb729d334d","name":"Merge By IndexFB"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[920,480],"id":"e12bcde7-95f0-434c-849d-515d67652da2","name":"Merge By IndexLI"},{"parameters":{"jsCode":"// n8n Function node code\n// Input items: each item.json has:\n//   - row_number\n//   - textToPost\n//   - Image (a Google Drive share link, e.g. https://drive.google.com/file/d/FILE_ID/view?usp=sharing)\n\n// This code will convert the \"Image\" field to a direct download URL \"directImageUrl\"\n\nreturn items.map(item => {\n  const originalUrl = item.json.Image;\n  const match = originalUrl.match(/\\/d\\/(.+?)\\//);\n\n  if (!match) {\n    throw new Error(`Invalid Drive URL: ${originalUrl}`);\n  }\n\n  const fileId = match[1];\n  const directUrl = `https://drive.google.com/uc?export=download&id=${fileId}`;\n\n  return {\n    json: {\n      row_number: item.json.row_number,\n      textToPost: item.json.textToPost,\n      directImageUrl: directUrl\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[320,-80],"id":"03840b41-bee3-49f8-863c-52487f17dc44","name":"Code"},{"parameters":{"url":"=https://drive.google.com/uc?export=download&id=17jlgNq94UXTwp4xtsmG982NvT-kHRapZ","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[540,-80],"id":"b4012bdb-e336-403f-8b96-71fd87fc276b","name":"Download Image1"},{"parameters":{"method":"POST","url":"https://api.cloudinary.com/v1_1/dvq1stird/image/upload","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"upload_preset","value":"AdSheduler"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[760,-80],"id":"7ae92de2-42e1-428f-abea-f0a40cb527eb","name":"HTTP Request1"},{"parameters":{"assignments":{"assignments":[{"id":"2c100c33-be14-4b8c-a71c-71d72ecb91b3","name":"cdnImageUrl","value":"={{$node[\"HTTP Request1\"].json[\"secure_url\"]}}","type":"string"},{"id":"68a12bcb-cb50-461f-8e8b-ede51a53f001","name":"textToPost","value":"={{$node[\"Download Image1\"].json[\"textToPost\"]}}","type":"string"},{"id":"08f7b287-5e2d-423a-aa04-a55f0d77b6f7","name":"row_number","value":"={{$node[\"Download Image1\"].json[\"row_number\"]}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[980,-80],"id":"3f4fb1c0-4d05-4197-95f6-783e361963e6","name":"Extract Cloudinary URL"},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v23.0/17841451640872591/media_publish","authentication":"predefinedCredentialType","nodeCredentialType":"facebookGraphApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"creation_id","value":"={{$node[\"IG: Create Media\"].json[\"id\"]}}"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,-80],"id":"789da783-bca0-41d8-bb56-1f36e8d7e414","name":"IG: Publish Media","credentials":{"facebookGraphApi":{"id":"p9vS0oStzvcC97zj","name":"Facebook Graph account IG"}}},{"parameters":{"method":"POST","url":"=https://graph.facebook.com/v23.0/17841451640872591/media","authentication":"predefinedCredentialType","nodeCredentialType":"facebookGraphApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"image_url","value":"={{$node[\"Extract Cloudinary URL\"].json[\"cdnImageUrl\"]}}"},{"name":"caption","value":"={{$node[\"Extract Cloudinary URL\"].json[\"textToPost\"]}}"},{"name":"media_type","value":"IMAGE"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1220,-80],"id":"48599899-9eb7-4c9a-bb7c-c6d7f003ae2e","name":"IG: Create Media","credentials":{"facebookGraphApi":{"id":"p9vS0oStzvcC97zj","name":"Facebook Graph account IG"}}},{"parameters":{"url":"=https://graph.facebook.com/v23.0/{{$node[\"IG: Publish Media\"].json[\"id\"]}}?fields=permalink","authentication":"predefinedCredentialType","nodeCredentialType":"facebookGraphApi","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1660,-80],"id":"0a5f5511-b45c-440a-ad66-611590de20f7","name":"IG: Get Permalink","credentials":{"facebookGraphApi":{"id":"p9vS0oStzvcC97zj","name":"Facebook Graph account IG"}}},{"parameters":{"person":"RrkRfogzvp","text":"={{$json[\"textToPost\"]}}","shareMediaCategory":"IMAGE","additionalFields":{}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[1200,700],"id":"ce68c8d4-12ef-4822-9d6c-69617d7ce88b","name":"LinkedIn personal","credentials":{"linkedInOAuth2Api":{"id":"LgDdto6AiUe2bEMx","name":"LinkedIn account Personal"}},"disabled":true},{"parameters":{"postAs":"organization","organization":"101745338","text":"={{$json[\"textToPost\"]}}","shareMediaCategory":"IMAGE","additionalFields":{}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[1200,480],"id":"21179f26-c556-4b1f-8229-83424a6166cd","name":"LinkedIn Company","credentials":{"linkedInOAuth2Api":{"id":"0AnM2V81XE0hKc99","name":"LinkedIn account company"}}},{"parameters":{"assignments":{"assignments":[{"id":"2c100c33-be14-4b8c-a71c-71d72ecb91b3","name":"cdnImageUrl","value":"={{$node[\"HTTP Request1\"].json[\"secure_url\"]}}","type":"string"},{"id":"08f7b287-5e2d-423a-aa04-a55f0d77b6f7","name":"row_number","value":"={{$node[\"Download Image1\"].json[\"row_number\"]}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[980,100],"id":"e368149b-f539-4710-8096-67403b337699","name":"Extract Cloudinary URL1"},{"parameters":{"method":"POST","url":"https://graph.facebook.com/v23.0/287342934457192/photos","authentication":"predefinedCredentialType","nodeCredentialType":"facebookGraphApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"url","value":"={{$node[\"Merge By IndexFB\"].json[\"cdnImageUrl\"]}}"},{"name":"caption","value":"={{$node[\"Merge By IndexFB\"].json[\"textToPost\"]}}"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,200],"id":"2d2e8554-3abe-47db-84a8-76f00258a810","name":"FB: Create Photo Post","credentials":{"facebookGraphApi":{"id":"8WlKeMcFKg3NTtta","name":"Facebook Graph account FB"}}},{"parameters":{"assignments":{"assignments":[{"id":"55493094-27ed-427e-9c87-7ba1e2b6138a","name":"postLink","value":"={{ \"https://www.facebook.com/\" + $json[\"post_id\"].trim() }}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1740,200],"id":"6b4dae7a-5d3b-4e27-bb5d-8197199de065","name":"Build FB Permalink"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[2440,200],"id":"fc681d14-89f2-43d8-aecd-39ae2dbfe3b7","name":"Merge"},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"1zLjsCqQ_i3P5M1Eau-06GN7xVaqBT4HGFvsuHVba2Xc","mode":"id"},"sheetName":{"__rl":true,"value":"Sheet1","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{$node[\"Merge\"].json[\"row_number\"]}}","Publish Mode":"Posted"},"matchingColumns":["row_number"],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Prompt Type","displayName":"Prompt Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Prompt","displayName":"Prompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Publish Mode","displayName":"Publish Mode","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"IG Content","displayName":"IG Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"FB Content","displayName":"FB Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LI Content","displayName":"LI Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Twitter Content","displayName":"Twitter Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Images","displayName":"Images","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"IG Link","displayName":"IG Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"FB Link","displayName":"FB Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LI Link","displayName":"LI Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Twitter Link","displayName":"Twitter Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2620,200],"id":"8cead45c-b55b-4590-bde0-ebe0e31b4563","name":"Google Sheets3","credentials":{"googleApi":{"id":"sB4l9n06vnBZW68g","name":"google sheet service account api"}}},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"1zLjsCqQ_i3P5M1Eau-06GN7xVaqBT4HGFvsuHVba2Xc","mode":"id"},"sheetName":{"__rl":true,"value":"Sheet1","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{$node[\"Extract Cloudinary URL\"].json[\"row_number\"]}}","IG Link":"={{$node[\"IG: Get Permalink\"].json[\"permalink\"]}}"},"matchingColumns":["row_number"],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Prompt Type","displayName":"Prompt Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Prompt","displayName":"Prompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Publish Mode","displayName":"Publish Mode","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"IG Content","displayName":"IG Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"FB Content","displayName":"FB Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LI Content","displayName":"LI Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Images","displayName":"Images","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"IG Link","displayName":"IG Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"FB Link","displayName":"FB Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LI Link","displayName":"LI Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1880,-80],"id":"437d3184-c32b-4d59-be76-28ac6f0c5652","name":"Google Sheets IG","credentials":{"googleApi":{"id":"sB4l9n06vnBZW68g","name":"google sheet service account api"}}},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"1zLjsCqQ_i3P5M1Eau-06GN7xVaqBT4HGFvsuHVba2Xc","mode":"id"},"sheetName":{"__rl":true,"value":"Sheet1","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{$node[\"Merge By IndexFB\"].json[\"row_number\"]}}","FB Link":"={{$node[\"Build FB Permalink\"].json[\"postLink\"]}}"},"matchingColumns":["row_number"],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Prompt Type","displayName":"Prompt Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Prompt","displayName":"Prompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Publish Mode","displayName":"Publish Mode","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"IG Content","displayName":"IG Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"FB Content","displayName":"FB Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LI Content","displayName":"LI Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Twitter Content","displayName":"Twitter Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Images","displayName":"Images","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"IG Link","displayName":"IG Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"FB Link","displayName":"FB Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LI Link","displayName":"LI Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Twitter Link","displayName":"Twitter Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1960,200],"id":"2cb952ae-6332-4eb6-aa4d-f4f82fd3d0e4","name":"Google Sheets FB","credentials":{"googleApi":{"id":"sB4l9n06vnBZW68g","name":"google sheet service account api"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1220,-400],"id":"8d52df90-c175-4c05-af9e-967a2ff25ad2","name":"Merge twitter"},{"parameters":{"assignments":{"assignments":[{"id":"18f5d894-8c1a-4907-8b56-ea513cd261e0","name":"row_number","value":"={{$json[\"row_number\"]}}","type":"string"},{"id":"cee80b88-ba41-4673-aa1f-0f80123c3264","name":"textToPost","value":"={{$json[\"Twitter Content\"]}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-240,-420],"id":"d131f4a3-0fb7-4c92-a822-6248f558b18c","name":"Edit FieldsTw"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json }}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-20,-420],"id":"b739760b-0378-410a-a345-742b60bdbabe","name":"Set (Text)Tw"},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      tweet: items[0].json.textToPost\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[200,-420],"id":"166043e4-c301-48f9-870f-cb38c5489a5c","name":"Code1"},{"parameters":{"jsCode":"// items[0] has tweet, items[1] has cdnImageUrl\nconst tweetItem = items.find(i => i.json.tweet);\nconst imgItem   = items.find(i => i.json.cdnImageUrl);\n\nreturn [\n  {\n    json: {\n      tweet:       tweetItem.json.tweet,\n      cdnImageUrl: imgItem.json.cdnImageUrl,\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1440,-400],"id":"10c23e30-652f-4972-ac52-141ebc0dcd45","name":"Code2"},{"parameters":{"url":"={{$json[\"cdnImageUrl\"]}}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1660,-400],"id":"6d595da4-679a-4787-8f69-a143c1317625","name":"HTTP Request2"},{"parameters":{"method":"POST","url":"https://api.twitter.com/1.1/statuses/update.json","authentication":"predefinedCredentialType","nodeCredentialType":"twitterOAuth1Api","sendBody":true,"bodyParameters":{"parameters":[{"name":"status","value":"={{$node[\"HTTP Request2\"].json[\"tweet\"]}}"},{"name":"media_ids","value":"={{ $json[\"media_id_string\"] }}"}]},"options":{"response":{"response":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2680,-420],"id":"b67ab08e-3a52-4903-b620-096b14ea5a13","name":"HTTP Request","credentials":{"twitterOAuth1Api":{"id":"OfHvnZhi92QspLlv","name":"X OAuth account"}}},{"parameters":{"text":"={{$node[\"HTTP Request2\"].json[\"tweet\"]}}","additionalFields":{}},"type":"n8n-nodes-base.twitter","typeVersion":2,"position":[2140,-400],"id":"5d11488b-df8f-4f68-bdd3-1592ac742dfe","name":"X","credentials":{"twitterOAuth2Api":{"id":"aoPT6orMdQV6Jgro","name":"X account"}}},{"parameters":{"method":"POST","url":"https://upload.twitter.com/1.1/media/upload.json","authentication":"predefinedCredentialType","nodeCredentialType":"twitterOAuth1Api","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"media","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1900,-400],"id":"d0c70dca-40f3-4d4a-98c0-1f9627488c03","name":"HTTP Request3","credentials":{"twitterOAuth1Api":{"id":"OfHvnZhi92QspLlv","name":"X OAuth account"}}}],"connections":{"Google Sheets":{"main":[[{"node":"Row Found","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Set (Text)","type":"main","index":0}]]},"Download Image":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Convert Drive URL":{"main":[[{"node":"Download Image","type":"main","index":0}]]},"Set (Text)":{"main":[[{"node":"Merge By IndexLI","type":"main","index":1}]]},"Edit Fields1":{"main":[[{"node":"Merge By IndexLI","type":"main","index":0}]]},"Daily Trigger":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Row Found":{"main":[[{"node":"Edit Fields","type":"main","index":0},{"node":"Edit Fields3","type":"main","index":0},{"node":"Edit FieldsIG","type":"main","index":0},{"node":"Edit FieldsFB","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Convert Drive URL","type":"main","index":0}]]},"Edit FieldsIG":{"main":[[{"node":"Set (Text)IG","type":"main","index":0}]]},"Edit FieldsFB":{"main":[[{"node":"Set (Text)FB","type":"main","index":0}]]},"Set (Text)FB":{"main":[[{"node":"Merge By IndexFB","type":"main","index":1}]]},"Set (Text)IG":{"main":[[{"node":"Code","type":"main","index":0}]]},"Merge By IndexFB":{"main":[[{"node":"FB: Create Photo Post","type":"main","index":0}]]},"Merge By IndexLI":{"main":[[{"node":"LinkedIn Company","type":"main","index":0}]]},"Code":{"main":[[{"node":"Download Image1","type":"main","index":0}]]},"Download Image1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Extract Cloudinary URL","type":"main","index":0},{"node":"Extract Cloudinary URL1","type":"main","index":0}]]},"Extract Cloudinary URL":{"main":[[{"node":"IG: Create Media","type":"main","index":0}]]},"IG: Create Media":{"main":[[{"node":"IG: Publish Media","type":"main","index":0}]]},"IG: Publish Media":{"main":[[{"node":"IG: Get Permalink","type":"main","index":0}]]},"IG: Get Permalink":{"main":[[{"node":"Google Sheets IG","type":"main","index":0}]]},"LinkedIn personal":{"main":[[]]},"Extract Cloudinary URL1":{"main":[[{"node":"Merge By IndexFB","type":"main","index":0}]]},"FB: Create Photo Post":{"main":[[{"node":"Build FB Permalink","type":"main","index":0}]]},"Build FB Permalink":{"main":[[{"node":"Google Sheets FB","type":"main","index":0}]]},"LinkedIn Company":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Merge":{"main":[[{"node":"Google Sheets3","type":"main","index":0}]]},"Google Sheets IG":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Google Sheets FB":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge twitter":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Edit FieldsTw":{"main":[[{"node":"Set (Text)Tw","type":"main","index":0}]]},"Set (Text)Tw":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Merge twitter","type":"main","index":0}]]},"Code2":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"HTTP Request3","type":"main","index":0}]]},"X":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request3":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3a50229a-e575-48fe-9727-987dc8bfc36a","triggerCount":0,"tags":[]},{"createdAt":"2025-06-09T15:59:18.858Z","updatedAt":"2025-06-09T15:59:18.858Z","id":"OhpDLi6MCTkiW1rd","name":"My workflow 4","active":false,"isArchived":false,"nodes":[{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1zLjsCqQ_i3P5M1Eau-06GN7xVaqBT4HGFvsuHVba2Xc","mode":"id"},"sheetName":{"__rl":true,"value":"Sheet1","mode":"name"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"Pending"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-780,280],"id":"d111d8cc-7384-4786-823f-0c22b91d56df","name":"Google Sheets","credentials":{"googleApi":{"id":"sB4l9n06vnBZW68g","name":"google sheet service account api"}}},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"1zLjsCqQ_i3P5M1Eau-06GN7xVaqBT4HGFvsuHVba2Xc","mode":"id"},"sheetName":{"__rl":true,"value":"Sheet1","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_number }}","Status":"In Progress"},"matchingColumns":["row_number"],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Prompt Type","displayName":"Prompt Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Prompt","displayName":"Prompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Publish Mode","displayName":"Publish Mode","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"IG Content","displayName":"IG Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"FB Content","displayName":"FB Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LI Content","displayName":"LI Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Twitter Content","displayName":"Twitter Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Images","displayName":"Images","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"IG Link","displayName":"IG Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FB Link","displayName":"FB Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LI Link","displayName":"LI Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Twitter Link","displayName":"Twitter Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-400,300],"id":"e6c3b9f5-f3e4-4d53-aff4-5720a5a5df5e","name":"Google Sheets1","credentials":{"googleApi":{"id":"sB4l9n06vnBZW68g","name":"google sheet service account api"}}},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1zLjsCqQ_i3P5M1Eau-06GN7xVaqBT4HGFvsuHVba2Xc","mode":"id"},"sheetName":{"__rl":true,"value":"Sheet1","mode":"name"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"In Progress"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1240,120],"id":"918f751f-9cf3-402f-bfeb-dd1d5c3ee3bd","name":"Google Sheets2"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1860,120],"id":"bc9cb776-d131-4784-9e50-ed6468cd5366","name":"Wait","webhookId":"6156bd14-fd30-4529-80a3-6d689719a14d"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-600,280],"id":"21b0fd1b-567e-45f6-a12c-b248b20639f7","name":"Loop Over Items"},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 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"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $node[\"Code LI\"].json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,340],"id":"5ccb920c-2a3b-4b37-b1e1-50a748e05771","name":"HTTP Request LI"},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 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"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $node[\"Code IG\"].json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,-80],"id":"60115448-4f7a-49f5-b565-e1fd433e4564","name":"HTTP Request IG"},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 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"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $node[\"Code FB\"].json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,120],"id":"c55b3732-f7c1-4361-8ade-b04847b22298","name":"HTTP Request FB"},{"parameters":{"jsCode":"// -------------------------------------------------------\n// Code1: build a proper OpenRouter /chat/completions JSON\n// -------------------------------------------------------\n\n// 1) Grab the incoming Prompt (trim off any trailing newlines)\nconst incoming = items[0].json;\nconst rawPrompt = (incoming.Prompt || \"\").trim();\n\n// 2) Construct the Chat payload\nconst chatBody = {\n  model: \"deepseek/deepseek-chat-v3-0324:free\",\n  messages: [\n    {\n      role: \"system\",\n      content:\n        \"You are a social-media copywriter specializing in Instagram. \" +\n        \"You will receive a single input, which may be text, an image URL, or a website link.\"\n    },\n    {\n      role: \"user\",\n      content:\n        `For Instagram, write a post about \\\"${rawPrompt}\\\" structured as follows:\\n` +\n        `1. Two short introductory paragraphs (each 2–3 sentences), packed with relevant emojis.\\n` +\n        `2. Four key points (each one sentence or a few words) highlighting insights or benefits, each including at least one emoji.\\n` +\n        `3. After the points, include exactly one of these contact blocks (with emojis):\\n` +\n        `   🔗 Visit www.ralla.in\\n` +\n        `   📩 support@ralla.in\\n\\n` +\n        `   — or —\\n\\n` +\n        `   📍 Explore safe, smart solutions at: www.Ralla.in\\n` +\n        `   📩 Questions? Support@Ralla.in\\n\\n` +\n        `4. Finally, embed a few relevant hashtags directly in the content (not as a separate array).\\n\\n` +\n        `IMPORTANT: Do not use any asterisk (*) characters anywhere in the post.\\n\\n` +\n        `Return EXACTLY a JSON object with key:\\n` +\n        `ig_content (string, the full post including both paragraphs, the four points, the chosen contact block, and inline hashtags).`\n    }\n  ]\n};\n\n// 3) Return that Chat payload as the new item.json\nreturn [\n  {\n    json: chatBody\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,-80],"id":"b25b5b62-5366-4a31-87c5-38b77909f3ee","name":"Code IG"},{"parameters":{"jsCode":"// -------------------------------------------------------\n// Code2: build a proper OpenRouter /chat/completions JSON for Facebook\n// -------------------------------------------------------\n\nconst incoming = items[0].json;\nconst rawPrompt = (incoming.Prompt || \"\").trim();\n\nconst chatBody = {\n  model: \"deepseek/deepseek-chat-v3-0324:free\",\n  messages: [\n    {\n      role: \"system\",\n      content:\n        \"You are a social-media copywriter specializing in Facebook posts. \" +\n        \"You will receive a single input, which may be text, an image URL, or a website link.\"\n    },\n    {\n      role: \"user\",\n      content:\n        `For Facebook, write a post about \"${rawPrompt}\" structured as follows:\\n` +\n        `1. Two short introductory paragraphs (each 2–3 sentences) that feel friendly and informative, filled with relevant emojis.\\n` +\n        `2. Four key points (each one sentence or a few words) highlighting insights or benefits, each including at least one emoji.\\n` +\n        `3. After the points, include exactly one of these contact blocks (with emojis):\\n` +\n        `   🔗 Visit www.ralla.in\\n` +\n        `   📩 support@ralla.in\\n\\n` +\n        `   — or —\\n\\n` +\n        `   📍 Explore safe, smart solutions at: www.Ralla.in\\n` +\n        `   📩 Questions? Support@Ralla.in\\n\\n` +\n        `4. Finally, embed a few relevant hashtags directly in the content (not as a separate array).\\n\\n` +\n        `IMPORTANT: Do not use any asterisk (*) characters anywhere in the post.\\n\\n` +\n        `Return EXACTLY a JSON object with key:\\n` +\n        `fb_content (string, the full post including both paragraphs, the four points, the chosen contact block, and inline hashtags).`\n    }\n  ]\n};\n\nreturn [\n  {\n    json: chatBody\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[60,120],"id":"d2d63bdb-de0d-4bd5-86a5-879cfafacc79","name":"Code FB"},{"parameters":{"jsCode":"// -------------------------------------------------------\n// Code3: build a proper OpenRouter /chat/completions JSON for LinkedIn\n// -------------------------------------------------------\n\nconst incoming = items[0].json;\nconst rawPrompt = (incoming.Prompt || \"\").trim();\n\nconst chatBody = {\n  model: \"deepseek/deepseek-chat-v3-0324:free\",\n  messages: [\n    {\n      role: \"system\",\n      content:\n        \"You are a social-media copywriter specializing in LinkedIn posts. \" +\n        \"You will receive a single input, which may be text, an image URL, or a website link.\"\n    },\n    {\n      role: \"user\",\n      content:\n        `For LinkedIn, write a post about \"${rawPrompt}\" structured as follows:\\n` +\n        `1. Two short introductory paragraphs (each 2–3 sentences) that are polished, professional, and engaging, enriched with relevant emojis.\\n` +\n        `2. Four concise key points (each one sentence or a few words) highlighting strategic insights or benefits, each including at least one emoji.\\n` +\n        `3. After the points, include exactly one of these contact blocks (with emojis):\\n` +\n        `   🔗 Visit www.ralla.in\\n` +\n        `   📩 support@ralla.in\\n\\n` +\n        `   — or —\\n\\n` +\n        `   📍 Explore safe, smart solutions at: www.Ralla.in\\n` +\n        `   📩 Questions? Support@Ralla.in\\n\\n` +\n        `4. Finally, embed a few relevant hashtags directly in the content (not as a separate array).\\n\\n` +\n        `IMPORTANT: Do not use any asterisk (*) characters anywhere in the post.\\n\\n` +\n        `Return EXACTLY a JSON object with key:\\n` +\n        `li_content (string, the full post including both paragraphs, the four points, the chosen contact block, and inline hashtags).`\n    }\n  ]\n};\n\nreturn [\n  {\n    json: chatBody\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[40,340],"id":"1da332c8-df99-4ea4-9799-1de628ef7295","name":"Code LI"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[920,120],"id":"50b67bd5-9fa5-41da-90bc-a3fefa49fc5b","name":"Merge1"},{"parameters":{"mode":"raw","jsonOutput":"={\n     \"instagram_json\": {{ \n       // Grab the entire “content” string from HTTP Request IG:\n       (() => {\n         const content = $node[\"HTTP Request IG\"].json.choices[0].message.content;\n         // If it contains a fenced JSON block, parse only that part:\n         if (content.includes(\"```json\")) {\n           // 1. Extract the portion between ```json and ``` using a RegExp\n           const match = content.match(/```json([\\s\\S]*?)```/);\n           if (match && match[1]) {\n             // 2. Trim leading/trailing whitespace/newlines:\n             const cleaned = match[1].trim();\n             // 3. Parse that cleaned text as real JSON:\n             try {\n               return JSON.parse(cleaned);\n             } catch (e) {\n               // If parsing fails for some reason, fall back to empty object\n               return {};\n             }\n           }\n         }\n         // If there is no ```json block, return an empty object so we still produce valid JSON\n         return {};\n       })()\n     }}\n   }","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[540,-80],"id":"29c360db-eb96-47ca-a44f-d09de93e607b","name":"Set IG1"},{"parameters":{"mode":"raw","jsonOutput":"={\n     \"facebook_json\": {{ \n       // 1. Grab the entire “content” string from HTTP Request FB:\n       $node[\"HTTP Request FB\"].json.choices[0].message.content\n         // 2. Use a regex to capture ONLY what’s between ```json and ```:\n         .match(/```json([\\s\\S]*?)```/)[1]\n         // 3. Trim off any stray newline/whitespace:\n         .trim()\n     }}\n   }","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[540,120],"id":"67b5a881-7718-484a-ad1e-b7f1c42a0aaa","name":"Set FB1"},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"1zLjsCqQ_i3P5M1Eau-06GN7xVaqBT4HGFvsuHVba2Xc","mode":"id"},"sheetName":{"__rl":true,"value":"Sheet1","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_number }}","LI Content":"={{$node[\"Merge1\"].json[\"linkedin_json\"].li_content}}","Images":"={{$json[\"Images\"]}}","Status":"Completed","FB Content":"={{$node[\"Merge1\"].json[\"facebook_json\"].fb_content}}","IG Content":"={{$node[\"Merge1\"].json[\"instagram_json\"].ig_content}}\n"},"matchingColumns":["row_number"],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Prompt Type","displayName":"Prompt Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Prompt","displayName":"Prompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Publish Mode","displayName":"Publish Mode","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"IG Content","displayName":"IG Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"FB Content","displayName":"FB Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LI Content","displayName":"LI Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Twitter Content","displayName":"Twitter Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Images","displayName":"Images","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"IG Link","displayName":"IG Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"FB Link","displayName":"FB Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LI Link","displayName":"LI Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Twitter Link","displayName":"Twitter Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1520,120],"id":"32ce98a7-dad6-4eb0-8cb3-322ba6377706","name":"Google Sheets3"},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1zLjsCqQ_i3P5M1Eau-06GN7xVaqBT4HGFvsuHVba2Xc","mode":"id"},"sheetName":{"__rl":true,"value":"Sheet1","mode":"name"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"In Progress"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-220,300],"id":"4296639b-1ddc-4c28-809e-0407b5464b32","name":"Google Sheets4","credentials":{"googleApi":{"id":"sB4l9n06vnBZW68g","name":"google sheet service account api"}}},{"parameters":{"jsCode":"// -------------------------------------------------------\n// Code4: build a proper OpenRouter /chat/completions JSON for Twitter\n// -------------------------------------------------------\n\nconst incoming = items[0].json;\nconst rawPrompt = (incoming.Prompt || \"\").trim();\n\nconst chatBody = {\n  model: \"deepseek/deepseek-chat-v3-0324:free\",\n  messages: [\n    {\n      role: \"system\",\n      content:\n        \"You are a social-media copywriter specializing in Twitter. \" +\n        \"You will receive a single input, which may be text, an image URL, or a website link.\"\n    },\n    {\n      role: \"user\",\n      content:\n        `For Twitter, write a thread about \"${rawPrompt}\" structured as follows:\\n` +\n        `1. Tweet 1: A hook (max 280 characters) that grabs attention, with relevant emojis.\\n` +\n        `2–5. Tweets 2–5: Four concise tweets (each max 280 characters), each highlighting a key insight or benefit with at least one emoji.\\n` +\n        `6. Tweet 6: Include exactly one of these contact blocks (with emojis) and then embed a few relevant hashtags inline (all within 280 characters):\\n` +\n        `   🔗 Visit www.ralla.in\\n` +\n        `   📩 support@ralla.in\\n\\n` +\n        `   — or —\\n\\n` +\n        `   📍 Explore safe, smart solutions at: www.Ralla.in\\n` +\n        `   📩 Questions? Support@Ralla.in\\n\\n` +\n        `IMPORTANT: Do not use any asterisk (*) characters anywhere in the thread.\\n\\n` +\n        `Return EXACTLY a JSON object with key:\\n` +\n        `tw_content (array of 6 tweet strings in order).`\n    }\n  ]\n};\n\nreturn [\n  {\n    json: chatBody\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[40,540],"id":"64e8e33c-54f5-48f7-8c07-7f3bef60dba2","name":"Code LI1"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"linkedin_json\": {{ \n    // 1. Grab the entire “content” string from HTTP Request LI:\n    $node[\"HTTP Request LI\"].json.choices[0].message.content\n      // 2. Use a regex to capture ONLY what’s between ```json and ```:\n      .match(/```json([\\s\\S]*?)```/)[1]\n      // 3. Trim off any stray newline/whitespace:\n      .trim()\n  }}\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,340],"id":"929d9901-8a8f-4349-8baf-fe3c70261634","name":"Set LI"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"twitter_json\": {{ \n    // 1. Grab the entire “content” string from HTTP Request TW:\n    $node[\"HTTP Request Twitter\"].json.choices[0].message.content\n      // 2. Use a regex to capture ONLY what’s between ```json and ```:\n      .match(/```json([\\s\\S]*?)```/)[1]\n      // 3. Trim off any stray newline/whitespace:\n      .trim()\n  }}\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,540],"id":"74d323dc-ef2d-4447-b141-563b908b1965","name":"Set Tw"},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 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"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $node[\"Code LI1\"].json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,540],"id":"4da8849f-461c-4c7d-b4d7-e8cfc3c5fb2c","name":"HTTP Request Twitter"},{"parameters":{"httpMethod":"POST","path":"2cc9e4e1-2db3-4ff4-a11e-29dd055e7caf","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1020,280],"id":"df75d64a-583a-42ca-a280-69642b6e0eea","name":"Webhook","webhookId":"2cc9e4e1-2db3-4ff4-a11e-29dd055e7caf"}],"connections":{"Google Sheets":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Google Sheets4","type":"main","index":0}]]},"Google Sheets2":{"main":[[{"node":"Google Sheets3","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Google Sheets1","type":"main","index":0}]]},"HTTP Request LI":{"main":[[{"node":"Set LI","type":"main","index":0}]]},"HTTP Request IG":{"main":[[{"node":"Set IG1","type":"main","index":0}]]},"HTTP Request FB":{"main":[[{"node":"Set FB1","type":"main","index":0}]]},"Code IG":{"main":[[{"node":"HTTP Request IG","type":"main","index":0}]]},"Code FB":{"main":[[{"node":"HTTP Request FB","type":"main","index":0}]]},"Code LI":{"main":[[{"node":"HTTP Request LI","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"Set IG1":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Set FB1":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Google Sheets3":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Google Sheets4":{"main":[[{"node":"Code FB","type":"main","index":0},{"node":"Code IG","type":"main","index":0},{"node":"Code LI","type":"main","index":0}]]},"Code LI1":{"main":[[{"node":"HTTP Request Twitter","type":"main","index":0}]]},"Set LI":{"main":[[{"node":"Merge1","type":"main","index":2}]]},"HTTP Request Twitter":{"main":[[{"node":"Set Tw","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"22028d22-80f3-4999-a57f-ef9b6160f58c","triggerCount":0,"tags":[]},{"createdAt":"2025-06-10T12:22:04.194Z","updatedAt":"2025-06-10T12:22:04.194Z","id":"y7SCuJd2g3WU02q3","name":"Creating content copy","active":false,"isArchived":false,"nodes":[{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1zLjsCqQ_i3P5M1Eau-06GN7xVaqBT4HGFvsuHVba2Xc","mode":"id"},"sheetName":{"__rl":true,"value":"Sheet1","mode":"name"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"Pending"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-1040,20],"id":"9de1b885-9f94-4f79-9949-82793ec52f8a","name":"Google Sheets","credentials":{"googleApi":{"id":"sB4l9n06vnBZW68g","name":"google sheet service account api"}}},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"1zLjsCqQ_i3P5M1Eau-06GN7xVaqBT4HGFvsuHVba2Xc","mode":"id"},"sheetName":{"__rl":true,"value":"Sheet1","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_number }}","Status":"In Progress"},"matchingColumns":["row_number"],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Prompt Type","displayName":"Prompt Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Prompt","displayName":"Prompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Publish Mode","displayName":"Publish Mode","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"IG Content","displayName":"IG Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"FB Content","displayName":"FB Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LI Content","displayName":"LI Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Twitter Content","displayName":"Twitter Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Images","displayName":"Images","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"IG Link","displayName":"IG Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FB Link","displayName":"FB Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LI Link","displayName":"LI Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Twitter Link","displayName":"Twitter Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-660,40],"id":"c0b2f7ca-8717-486e-87e1-ef54dfd5e167","name":"Google Sheets1","credentials":{"googleApi":{"id":"sB4l9n06vnBZW68g","name":"google sheet service account api"}}},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1zLjsCqQ_i3P5M1Eau-06GN7xVaqBT4HGFvsuHVba2Xc","mode":"id"},"sheetName":{"__rl":true,"value":"Sheet1","mode":"name"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"In Progress"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[980,-140],"id":"39ee345d-7c14-4467-808f-4ed170555326","name":"Google Sheets2","credentials":{"googleApi":{"id":"sB4l9n06vnBZW68g","name":"google sheet service account api"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1260,20],"id":"cc10d9c7-0ffc-4706-a512-9f3a89b16e50","name":"When clicking ‘Execute workflow’"},{"parameters":{"path":"6b0bb714-b150-48ab-a206-c68a55c4b2ce"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1600,-140],"id":"380da9bd-8826-4c89-8905-49057b54135a","name":"Wait","webhookId":"6b0bb714-b150-48ab-a206-c68a55c4b2ce"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-860,20],"id":"ca12c9c3-7073-4de5-abfa-6693380bfacc","name":"Loop Over Items"},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 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"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $node[\"Code LI\"].json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[60,80],"id":"0591662f-852c-4119-8ec5-4deb220bc588","name":"HTTP Request LI"},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 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"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $node[\"Code IG\"].json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[60,-340],"id":"1a6f0417-369e-438f-b383-e35872ad59d1","name":"HTTP Request IG"},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 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"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $node[\"Code FB\"].json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[60,-140],"id":"2eb270a8-98e4-48fe-a617-63ffe614ca9c","name":"HTTP Request FB"},{"parameters":{"jsCode":"// -------------------------------------------------------\n// Code1: build a proper OpenRouter /chat/completions JSON\n// -------------------------------------------------------\n\n// 1) Grab the incoming Prompt (trim off any trailing newlines)\nconst incoming = items[0].json;\nconst rawPrompt = (incoming.Prompt || \"\").trim();\n\n// 2) Construct the Chat payload\nconst chatBody = {\n  model: \"deepseek/deepseek-chat-v3-0324:free\",\n  messages: [\n    {\n      role: \"system\",\n      content:\n        \"You are a social-media copywriter specializing in Instagram. \" +\n        \"You will receive a single input, which may be text, an image URL, or a website link.\"\n    },\n    {\n      role: \"user\",\n      content:\n        `For Instagram, write a post about \\\"${rawPrompt}\\\" structured as follows:\\n` +\n        `1. Two short introductory paragraphs (each 2–3 sentences), packed with relevant emojis.\\n` +\n        `2. Four key points (each one sentence or a few words) highlighting insights or benefits, each including at least one emoji.\\n` +\n        `3. After the points, include exactly one of these contact blocks (with emojis):\\n` +\n        `   🔗 Visit www.ralla.in\\n` +\n        `   📩 support@ralla.in\\n\\n` +\n        `   — or —\\n\\n` +\n        `   📍 Explore safe, smart solutions at: www.Ralla.in\\n` +\n        `   📩 Questions? Support@Ralla.in\\n\\n` +\n        `4. Finally, embed a few relevant hashtags directly in the content (not as a separate array).\\n\\n` +\n        `IMPORTANT: Do not use any asterisk (*) characters anywhere in the post.\\n\\n` +\n        `Return EXACTLY a JSON object with key:\\n` +\n        `ig_content (string, the full post including both paragraphs, the four points, the chosen contact block, and inline hashtags).`\n    }\n  ]\n};\n\n// 3) Return that Chat payload as the new item.json\nreturn [\n  {\n    json: chatBody\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-180,-340],"id":"649f5c9b-5100-4248-8ebd-74fd7457af88","name":"Code IG"},{"parameters":{"jsCode":"// -------------------------------------------------------\n// Code2: build a proper OpenRouter /chat/completions JSON for Facebook\n// -------------------------------------------------------\n\nconst incoming = items[0].json;\nconst rawPrompt = (incoming.Prompt || \"\").trim();\n\nconst chatBody = {\n  model: \"deepseek/deepseek-chat-v3-0324:free\",\n  messages: [\n    {\n      role: \"system\",\n      content:\n        \"You are a social-media copywriter specializing in Facebook posts. \" +\n        \"You will receive a single input, which may be text, an image URL, or a website link.\"\n    },\n    {\n      role: \"user\",\n      content:\n        `For Facebook, write a post about \"${rawPrompt}\" structured as follows:\\n` +\n        `1. Two short introductory paragraphs (each 2–3 sentences) that feel friendly and informative, filled with relevant emojis.\\n` +\n        `2. Four key points (each one sentence or a few words) highlighting insights or benefits, each including at least one emoji.\\n` +\n        `3. After the points, include exactly one of these contact blocks (with emojis):\\n` +\n        `   🔗 Visit www.ralla.in\\n` +\n        `   📩 support@ralla.in\\n\\n` +\n        `   — or —\\n\\n` +\n        `   📍 Explore safe, smart solutions at: www.Ralla.in\\n` +\n        `   📩 Questions? Support@Ralla.in\\n\\n` +\n        `4. Finally, embed a few relevant hashtags directly in the content (not as a separate array).\\n\\n` +\n        `IMPORTANT: Do not use any asterisk (*) characters anywhere in the post.\\n\\n` +\n        `Return EXACTLY a JSON object with key:\\n` +\n        `fb_content (string, the full post including both paragraphs, the four points, the chosen contact block, and inline hashtags).`\n    }\n  ]\n};\n\nreturn [\n  {\n    json: chatBody\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-200,-140],"id":"c151ccb8-df42-4853-bb53-7c60f3014f8c","name":"Code FB"},{"parameters":{"jsCode":"// -------------------------------------------------------\n// Code3: build a proper OpenRouter /chat/completions JSON for LinkedIn\n// -------------------------------------------------------\n\nconst incoming = items[0].json;\nconst rawPrompt = (incoming.Prompt || \"\").trim();\n\nconst chatBody = {\n  model: \"deepseek/deepseek-chat-v3-0324:free\",\n  messages: [\n    {\n      role: \"system\",\n      content:\n        \"You are a social-media copywriter specializing in LinkedIn posts. \" +\n        \"You will receive a single input, which may be text, an image URL, or a website link.\"\n    },\n    {\n      role: \"user\",\n      content:\n        `For LinkedIn, write a post about \"${rawPrompt}\" structured as follows:\\n` +\n        `1. Two short introductory paragraphs (each 2–3 sentences) that are polished, professional, and engaging, enriched with relevant emojis.\\n` +\n        `2. Four concise key points (each one sentence or a few words) highlighting strategic insights or benefits, each including at least one emoji.\\n` +\n        `3. After the points, include exactly one of these contact blocks (with emojis):\\n` +\n        `   🔗 Visit www.ralla.in\\n` +\n        `   📩 support@ralla.in\\n\\n` +\n        `   — or —\\n\\n` +\n        `   📍 Explore safe, smart solutions at: www.Ralla.in\\n` +\n        `   📩 Questions? Support@Ralla.in\\n\\n` +\n        `4. Finally, embed a few relevant hashtags directly in the content (not as a separate array).\\n\\n` +\n        `IMPORTANT: Do not use any asterisk (*) characters anywhere in the post.\\n\\n` +\n        `Return EXACTLY a JSON object with key:\\n` +\n        `li_content (string, the full post including both paragraphs, the four points, the chosen contact block, and inline hashtags).`\n    }\n  ]\n};\n\nreturn [\n  {\n    json: chatBody\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-220,80],"id":"6dbf1e52-5afa-442b-a8dc-a34805ce6265","name":"Code LI"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":4,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[660,-140],"id":"d9d71432-01ae-4d33-8ba2-16f7a83027a4","name":"Merge1"},{"parameters":{"mode":"raw","jsonOutput":"={\n     \"instagram_json\": {{ \n       // Grab the entire “content” string from HTTP Request IG:\n       (() => {\n         const content = $node[\"HTTP Request IG\"].json.choices[0].message.content;\n         // If it contains a fenced JSON block, parse only that part:\n         if (content.includes(\"```json\")) {\n           // 1. Extract the portion between ```json and ``` using a RegExp\n           const match = content.match(/```json([\\s\\S]*?)```/);\n           if (match && match[1]) {\n             // 2. Trim leading/trailing whitespace/newlines:\n             const cleaned = match[1].trim();\n             // 3. Parse that cleaned text as real JSON:\n             try {\n               return JSON.parse(cleaned);\n             } catch (e) {\n               // If parsing fails for some reason, fall back to empty object\n               return {};\n             }\n           }\n         }\n         // If there is no ```json block, return an empty object so we still produce valid JSON\n         return {};\n       })()\n     }}\n   }","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[280,-340],"id":"93b27de4-065e-4da5-b152-43477e1236f8","name":"Set IG1"},{"parameters":{"mode":"raw","jsonOutput":"={\n     \"facebook_json\": {{ \n       // 1. Grab the entire “content” string from HTTP Request FB:\n       $node[\"HTTP Request FB\"].json.choices[0].message.content\n         // 2. Use a regex to capture ONLY what’s between ```json and ```:\n         .match(/```json([\\s\\S]*?)```/)[1]\n         // 3. Trim off any stray newline/whitespace:\n         .trim()\n     }}\n   }","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[280,-140],"id":"c88f0503-8e45-41d6-af26-0780688474d8","name":"Set FB1"},{"parameters":{"authentication":"serviceAccount","operation":"update","documentId":{"__rl":true,"value":"1zLjsCqQ_i3P5M1Eau-06GN7xVaqBT4HGFvsuHVba2Xc","mode":"id"},"sheetName":{"__rl":true,"value":"Sheet1","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_number }}","LI Content":"={{$node[\"Merge1\"].json[\"linkedin_json\"].li_content}}","Images":"={{$json[\"Images\"]}}","Status":"Completed","FB Content":"={{$node[\"Merge1\"].json[\"facebook_json\"].fb_content}}","IG Content":"={{$node[\"Merge1\"].json[\"instagram_json\"].ig_content}}\n","Twitter Content":"={{$node[\"Merge1\"].json[\"twitter_json\"].tw_content}}"},"matchingColumns":["row_number"],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Prompt Type","displayName":"Prompt Type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Prompt","displayName":"Prompt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Publish Mode","displayName":"Publish Mode","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"IG Content","displayName":"IG Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"FB Content","displayName":"FB Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LI Content","displayName":"LI Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Twitter Content","displayName":"Twitter Content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Images","displayName":"Images","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"IG Link","displayName":"IG Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"FB Link","displayName":"FB Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LI Link","displayName":"LI Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Twitter Link","displayName":"Twitter Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1260,-140],"id":"17ae6b26-323e-4417-ae43-cc2934a840e7","name":"Google Sheets3","credentials":{"googleApi":{"id":"sB4l9n06vnBZW68g","name":"google sheet service account api"}}},{"parameters":{"authentication":"serviceAccount","documentId":{"__rl":true,"value":"1zLjsCqQ_i3P5M1Eau-06GN7xVaqBT4HGFvsuHVba2Xc","mode":"id"},"sheetName":{"__rl":true,"value":"Sheet1","mode":"name"},"filtersUI":{"values":[{"lookupColumn":"Status","lookupValue":"In Progress"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-480,40],"id":"81908467-0bbf-4131-9e7b-a06a33b8ddaa","name":"Google Sheets4","credentials":{"googleApi":{"id":"sB4l9n06vnBZW68g","name":"google sheet service account api"}}},{"parameters":{"jsCode":"// -------------------------------------------------------\n// Code4: build a proper OpenRouter /chat/completions JSON for Twitter\n// -------------------------------------------------------\n\nconst incoming = items[0].json;\nconst rawPrompt = (incoming.Prompt || \"\").trim();\n\nconst chatBody = {\n  model: \"deepseek/deepseek-chat-v3-0324:free\",\n  messages: [\n    {\n      role: \"system\",\n      content:\n        \"You are a social-media copywriter specializing in Twitter. \" +\n        \"You will receive a single input, which may be text, an image URL, or a website link.\"\n    },\n    {\n      role: \"user\",\n      content:\n        `For Twitter, write a thread about \"${rawPrompt}\" structured as follows:\\n` +\n        `1. Tweet 1: A hook (max 280 characters) that grabs attention, with relevant emojis.\\n` +\n        `2–5. Tweets 2–5: Four concise tweets (each max 280 characters), each highlighting a key insight or benefit with at least one emoji.\\n` +\n        `6. Tweet 6: Include exactly one of these contact blocks (with emojis) and then embed a few relevant hashtags inline (all within 280 characters):\\n` +\n        `   🔗 Visit www.ralla.in\\n` +\n        `   📩 support@ralla.in\\n\\n` +\n        `   — or —\\n\\n` +\n        `   📍 Explore safe, smart solutions at: www.Ralla.in\\n` +\n        `   📩 Questions? Support@Ralla.in\\n\\n` +\n        `IMPORTANT: Do not use any asterisk (*) characters anywhere in the thread.\\n\\n` +\n        `Return EXACTLY a JSON object with key:\\n` +\n        `tw_content (array of 6 tweet strings in order).`\n    }\n  ]\n};\n\nreturn [\n  {\n    json: chatBody\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-220,280],"id":"6ecbce3e-e3f5-4612-b705-76a55fb76daf","name":"Code LI1"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"linkedin_json\": {{ \n    // 1. Grab the entire “content” string from HTTP Request LI:\n    $node[\"HTTP Request LI\"].json.choices[0].message.content\n      // 2. Use a regex to capture ONLY what’s between ```json and ```:\n      .match(/```json([\\s\\S]*?)```/)[1]\n      // 3. Trim off any stray newline/whitespace:\n      .trim()\n  }}\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[300,80],"id":"b4d24602-78ef-4aea-a0b4-9eb22d5c893b","name":"Set LI"},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"twitter_json\": {{ \n    // 1. Grab the entire “content” string from HTTP Request TW:\n    $node[\"HTTP Request Twitter\"].json.choices[0].message.content\n      // 2. Use a regex to capture ONLY what’s between ```json and ```:\n      .match(/```json([\\s\\S]*?)```/)[1]\n      // 3. Trim off any stray newline/whitespace:\n      .trim()\n  }}\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[300,280],"id":"35917458-6041-46b7-9405-597e6d127bb0","name":"Set Tw"},{"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 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"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $node[\"Code LI1\"].json }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[60,280],"id":"21165830-162c-429c-9462-373c3bee5bff","name":"HTTP Request Twitter"}],"connections":{"Google Sheets":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Google Sheets4","type":"main","index":0}]]},"Google Sheets2":{"main":[[{"node":"Google Sheets3","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Google Sheets1","type":"main","index":0}]]},"HTTP Request LI":{"main":[[{"node":"Set LI","type":"main","index":0}]]},"HTTP Request IG":{"main":[[{"node":"Set IG1","type":"main","index":0}]]},"HTTP Request FB":{"main":[[{"node":"Set FB1","type":"main","index":0}]]},"Code IG":{"main":[[{"node":"HTTP Request IG","type":"main","index":0}]]},"Code FB":{"main":[[{"node":"HTTP Request FB","type":"main","index":0}]]},"Code LI":{"main":[[{"node":"HTTP Request LI","type":"main","index":0}]]},"Set IG1":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Set FB1":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Merge1":{"main":[[{"node":"Google Sheets2","type":"main","index":0}]]},"Google Sheets3":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Google Sheets4":{"main":[[{"node":"Code FB","type":"main","index":0}]]},"Code LI1":{"main":[[{"node":"HTTP Request Twitter","type":"main","index":0}]]},"Set LI":{"main":[[{"node":"Merge1","type":"main","index":2}]]},"Set Tw":{"main":[[{"node":"Merge1","type":"main","index":3}]]},"HTTP Request Twitter":{"main":[[{"node":"Set Tw","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3c123837-a1b6-4f08-8103-73511a2256d0","triggerCount":0,"tags":[]}]